@inject IStringLocalizer<BadgeButton> Localizer

<div class="row g-3">
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
        <Button Color="Color.Primary">
            <i class="fa-solid fa-tv"></i>
            <span>@Localizer["ButtonSpan"]</span>
            <Badge Color="Color.Danger">1</Badge>
        </Button>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
        <div class="badge-widget">
            <i class="fa-solid fa-tv"></i>
            <Badge Color="Color.Success"><span style="padding: 0 2px;">8</span></Badge>
        </div>
    </div>
</div>
