@namespace BootstrapBlazor.Components
@inherits ClosableDialogBase

<Row ItemsPerRow="ItemsPerRow.One">
    <BootstrapLabel Value="选择的图标"></BootstrapLabel>
    <BootstrapInputGroup>
        <BootstrapInputGroupIcon Icon="@IconName"></BootstrapInputGroupIcon>
        <Display Value="@IconName"></Display>
        <Button Text="点击复制" OnClickWithoutRender="OnClickCopyIcon" @ref="ButtonIcon"></Button>
    </BootstrapInputGroup>
    <BootstrapLabel Value="完整文本"></BootstrapLabel>
    <BootstrapInputGroup>
        <BootstrapInputGroupIcon Icon="@IconName"></BootstrapInputGroupIcon>
        <Display Value="@IconFullName"></Display>
        <Button Text="点击复制" OnClickWithoutRender="OnClickCopyFullIcon" @ref="ButtonFullIcon"></Button>
    </BootstrapInputGroup>
</Row>
