<div class="row g-3 form-inline">
    <div class="col-12 col-md-3">
        <Checkbox TValue="string" State="CheckboxState.Checked" ShowLabel="true" DisplayText="Default" />
    </div>
    <div class="col-12 col-md-3">
        <Checkbox TValue="string" State="CheckboxState.Checked" ShowLabel="true" DisplayText="Small" Size="Size.Small" />
    </div>
    <div class="col-12 col-md-3">
        <Checkbox TValue="string" State="CheckboxState.Checked" ShowLabel="true" DisplayText="Medium" Size="Size.Medium" />
    </div>
    <div class="col-12 col-md-3">
        <Checkbox TValue="string" State="CheckboxState.Checked" ShowLabel="true" DisplayText="Large" Size="Size.Large" />
    </div>
    <div class="col-12 col-md-3">
        <Checkbox TValue="string" State="CheckboxState.Checked" ShowLabel="true" DisplayText="ExtraLarge" Size="Size.ExtraLarge" />
    </div>
    <div class="col-12 col-md-3">
        <Checkbox TValue="string" State="CheckboxState.Checked" ShowLabel="true" DisplayText="ExtraExtraLarge" Size="Size.ExtraExtraLarge" />
    </div>
</div>
