@inject IStringLocalizer<CheckboxDisabled> Localizer

<div class="row g-3 form-inline">
    <div class="col-12 col-sm-4">
        <Checkbox TValue="string" IsDisabled="true" DisplayText="@Localizer["StatusText1"]" ShowLabel="true" State="CheckboxState.Checked" />
    </div>
    <div class="col-12 col-sm-4">
        <Checkbox TValue="string" IsDisabled="true" DisplayText="@Localizer["StatusText2"]" ShowLabel="true" State="CheckboxState.UnChecked" />
    </div>
</div>
