@using BootstrapBlazor.Shared.Samples
@inject IStringLocalizer<FullScreens> Localizer

<Button Text="@Localizer["FullScreenNormalButtonText1"]" OnClick="ToggleFullScreen"></Button>

@code {
    [Inject]
    [NotNull]
    private FullScreenService? FullScreenService { get; set; }

    private async Task ToggleFullScreen()
    {
        await FullScreenService.Toggle();
    }
}
