@page "/dockview-row"
@layout DockLayout

<DockView Name="DockViewRow" EnableLocalStorage="false">
    <DockContent Type="DockContentType.Row">
        <DockComponent Title="标签一">
            <BootstrapInput TValue="string"></BootstrapInput>
        </DockComponent>
        <DockComponent Title="标签二">
            <Button Text="Click"></Button>
        </DockComponent>
        <DockComponent Title="标签三">
            <Counter></Counter>
        </DockComponent>
    </DockContent>
</DockView>
