@namespace BootstrapBlazor.Components
@typeparam TValue
@inject IJSRuntime JSRuntime

<div @ref="@Element">
    <span>@Value</span>
</div>

@code {
    [Parameter]
    public virtual TValue? Value { get; set; }

    [Parameter]
    public EventCallback<TValue> ValueChanged { get; set; }

    private TValue? _previousValue;

    [NotNull]
    private IJSObjectReference? Module { get; set; }

    private ElementReference Element { get; set; }

    protected override async void OnParametersSet()
    {
        base.OnParametersSet();
        if (Value is not null)
        {
            if (Value.Equals(_previousValue))
            {
                Module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/BootstrapBlazor/Components/AnimateNumber/AnimateNumber.razor.js");
                await Module.InvokeVoidAsync("init", Element, Value);
            }
            _previousValue = Value;
        }
    }
}
