@inject IWebHostEnvironment Env
@inject IStringLocalizer<App> Localizer

<!DOCTYPE html>
<html lang="en" data-bs-theme='light'>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="bootstrap,blazor,wasm,webassembly,UI,netcore,web,assembly">
    <meta name="description" content="基于 Bootstrap 风格的 Blazor UI 组件库，用于研发企业级中后台产品。">
    <meta name="author" content="argo (argo@live.ca)">
    <base href="/" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="favicon.png">
    <Link Href="_content/BootstrapBlazor.FontAwesome/css/font-awesome.min.css" />
    <Link Href="_content/BootstrapBlazor.MaterialDesign/css/md.min.css" />
    <Link Href="_content/BootstrapBlazor.BootstrapIcon/css/bootstrap-icons.min.css" />
    <Link Href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css" />
    <Link Href="_content/BootstrapBlazor/css/motronic.min.css" />
    <Link Href="BootstrapBlazor.Server.styles.css" />
    <Link Href="css/site.css" />
    <Script Src="lib/theme.js" type="module"></Script>
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(false)" />
    <title>@Localizer["Title"]</title>
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(false)" />

    <ReconnectorOutlet ReconnectInterval="5000" @rendermode="new InteractiveServerRenderMode(false)" />

    <UpdateIntro @rendermode="new InteractiveServerRenderMode(false)" />

    <BlazorReconnector @rendermode="new InteractiveServerRenderMode(false)" />

    <script src="_content/BootstrapBlazor.SummerNote/js/jquery-3.5.1.min.js"></script>
    @if (Env.IsDevelopment())
    {
        <Script Src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.js"></Script>
    }
    @if (Env.IsProduction())
    {
        <Script Src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js"></Script>
    }
    <script src="_framework/blazor.web.js"></script>
    @if (Env.IsProduction())
    {
        <script type="text/javascript" src="https://cdn.wwads.cn/js/makemoney.js"></script>
        <script type="text/javascript" src="lib/wwads/wwads.js"></script>
        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?f147c9b2e3e0cc2b629c6390e5ffe377";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    }
</body>

</html>
