@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor.VideoPlayer/VideoPlayer.razor.js", JSObjectReference = true)]

@* <HeadContent>
    <link href="@CssPath" rel="stylesheet">
</HeadContent>

<video id="@Id"
       class="video-js"
       muted
       webkit-playsinline
       playsinline
       x-webkit-airplay="allow"
       x5-video-player-type="h5"
       x5-video-player-fullscreen="true"
       x5-video-orientation="portraint">
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">
            supports HTML5 video
        </a>
    </p>
</video>
 *@

<video id="@Id" playsinline controls data-poster="@Poster">
</video>
