@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" class="editor" data-bb-submit="@ShowSubmitString" @ref="Element">
    <div class="@EditClassString" placeholder="@PlaceHolder"></div>
</div>
