@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" class="editor" @ref="Element">
    <div class="@EditClassString" placeholder="@PlaceHolder"></div>
</div>
