@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

<CascadingValue Value="this" IsFixed="true">
    @if (string.IsNullOrEmpty(WrapperTag))
    {
        @ChildContent
    }
    else
    {
        <div @attributes="AdditionalAttributes" class="@ClassString" @oncontextmenu="OnContextMenu" @oncontextmenu:stopPropagation="@StopPropagation" @oncontextmenu:preventDefault="true">
            @ChildContent
        </div>
    }
</CascadingValue>
