@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="AdditionalAttributes" class="@ClassString" @onclick="OnClickItem">
    <i class="@IconString"></i>
    <span>@Text</span>
</div>
