@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<DynamicElement TagName="div" @attributes="AdditionalAttributes" class="@ClassString"
    TriggerClick="!_disabled" OnClick="OnClickItem">
    <i class="@IconString"></i>
    <span>@Text</span>
</DynamicElement>
