@namespace BootstrapBlazor.Components
@inherits IdComponentBase

<div @attributes="AdditionalAttributes" id="@Id" class="@ClassString" @ontouchstart="TouchEvent" @ontouchend="TouchEvent">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>
