@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader("ContextMenu/ContextMenuTrigger.razor.js", JSObjectReference = true)]

<div @attributes="AdditionalAttributes" id="@Id" class="@ClassString">
    @ChildContent
</div>
