<h3>OnScreenKeyboardsNormal</h3>

<OnScreenKeyboard ClassName="@ClassName" KeyboardKeys="KeyboardKeysType.english" />
<input class="form-control @ClassName"
       data-kioskboard-type="@KeyboardType.all.ToString()"
       data-kioskboard-specialcharacters="true"
       placeholder='@Localizer["OnScreenKeyboardsNormalIntro"]' />

@code {

}
