@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader]

<a @attributes="AdditionalAttributes" id="@Id" href="#" class="layout-gotop" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="@TooltipText">
    <i class="@Icon"></i>
</a>
