@page "/barcodereaders"

<h3>条码扫描 BarcodeReader</h3>

<h4>扫描条码/QR码。</h4>

<Block Title="基本用法" Introduction="" CodeFile="barcodereader.html">
    <button class="btn btn-sm btn-light"
            type="button"
            @onclick="(() => ShowScanBarcode = !ShowScanBarcode)">
        [扫码]
    </button>
    <BootstrapInput TValue="string"  placeholder="条码"
               @bind-Value="BarCode" ></BootstrapInput> 
    @if (ShowScanBarcode)
    {

        <BarcodeReader ScanResult="((e) => { BarCode=e; ShowScanBarcode = !ShowScanBarcode; })"
                       ShowScanBarcode="ShowScanBarcode"
                       Close="(()=>ShowScanBarcode=!ShowScanBarcode)" />

    }

</Block>
  
<Pre>
使用摄像头扫码要点：
1.站点要启用https，这是浏览器厂商要求的。
2.ios手机使用必须要用safari才能调用摄像头。切换前/后摄像头要点一下关闭功能按钮。
3.安卓手机大概率需要原生系统浏览器，chrome是必定可以的，某些浏览器可能不兼容摄像头api。

有些人说，这个扫码识别率低,影响效率大概有以下几点:
1.手机像素。
2.手机js执行效率。
3.条码清晰度。

解码速度可以参考一下视频 ,后半段是wasm的,解码看起来更快:
<a href="https://www.ixigua.com/6876938116075094031/" target="_blank">https://www.ixigua.com/6876938116075094031/</a>
</Pre> 
 
<EventTable Items="@GetEvents()" />
 
