@page "/complexdialog"

<h3>ComplexDialog 复杂对话框组件</h3>

<h4>通过注入服务调用 <code>ShowDialog</code> 方法弹出窗口进行人机交互</h4>

<Block Title="基本用法" Introduction="通过设置 <code>ComplexDialogOption</code> 属性对模态框进行基本属性设置" CodeFile="complexdialog.1.html">
    <Button @onclick="@OnClick">点击打开 Dialog</Button>
    <Logger @ref="Trace" class="mt-3" />
</Block>

<Block Title="实战演练" Introduction="话不多说，直接上实战。这里模拟一个邮件应用，弹窗选择收件人后填入下方的收件人框。" CodeFile="complexdialog.2.html">
    <div class="form-inline">
        <label class="control-label">收件人：</label>
        <BootstrapInput placeholder="请输入 ..." Value="@InputValue"></BootstrapInput>
        <Button OnClick="@CardButtonClick"><i class="fa fa-vcard-o"></i></Button>
    </div>
</Block>


<Message />
<Dialog></Dialog>
<Pre>&lt;Dialog /&gt;</Pre>

<AttributeTable Items="@GetAttributes()" Title="ComplexDialogOption 属性" />
