@page "/install-server"

<InstallContent>
<Pre>public void ConfigureServices(IServiceCollection services)
{
    services.AddRazorPages();
    services.AddServerSideBlazor();

    // 添加本行代码
    services.AddBootstrapBlazor(); 
}</Pre>
</InstallContent>

<h4>Bootstrap Blazor Server App 模板</h4>

<p>为了方便大家利用这套组件快速搭建项目，作者制作了 <b>项目模板（<code>Project Templates</code>）</b>，目前仅支持 <code>dotnet new</code> 命令行模式，使用步骤如下：</p>

<p>1. 安装项目模板</p>
<Pre>dotnet new -i Bootstrap.Blazor.Templates::*</Pre>

<p>2. 创建工程</p>
<Pre>dotnet new bootstrapblazorserver</Pre>

<p>创建工程后在当前文件夹内会生成 <code>BootstrapBlazorServer</code> 目录，打开工程直接 <kbd>F5</kbd> 即可</p>
