@page "/docs"
@page "/introduction"
@inject IOptions<WebsiteOptions> WebsiteOption
<h3>简介</h3>

<p>BootstrapBlazor 是一套基于 Bootstrap 和 Blazor 的企业级组件库，可以认为是 Bootstrap 项目的 Blazor 版实现。</p>

<p>由于 Bootstrap UI 框架目前版本对 jQuery 有依赖，所以我们的 BootstrapBlazor 对 jQuery 也是有依赖</p>

<p>依赖关系为：BootstrapBlazor > Bootstrap > jQuery</p>

<p>最新 <a href="template" target="_blank">项目模板</a> 中将以上依赖进行了打包捆绑大大简化使用</p>

<h3>作品展示</h3>

<p>国内最大代码托管协作开发平台 <b><a href="https://gitee.com/LongbowEnterprise/BootstrapBlazor" target="_blank">码云</a></b> C# 板块最高星 <a href='https://gitee.com/LongbowEnterprise/BootstrapAdmin/stargazers'><img src='https://gitee.com/LongbowEnterprise/BootstrapAdmin/badge/star.svg?theme=gvp' alt='star' style="margin-bottom: 1px;" /></a> 作品 <b><a href="https://gitee.com/LongbowEnterprise/BootstrapAdmin" target="_blank">通用后台管理系统 BootstrapAdmin</a></b> 准备使用本组件实现全部功能</p>

<p>演示网站：<a href="@($"{WebsiteOption.Value.AdminUrl}/Pages")" target="_blank">@WebsiteOption.Value.AdminUrl</a></p>

<h4>快速上手</h4>

<p><a href="https://v4.bootcss.com/docs/getting-started/introduction/" target="_blank">Bootstrap 快速入门</a></p>

<h4>组件特色</h4>

<p>Bootstrap Blazor UI 组件库提供了从基本的 <code>Button</code> 组件到高级的网页级 <code>SmartPage</code> 组件</p>

<p>优势</p>

<ul>
    <li>使用组件无需编写 <code>Javascript</code></li>
    <li>组件支持所有 <code>html</code> 特性</li>
    <li>组件支持数据双向绑定</li>
    <li>组件支持自动客户端验证</li>
    <li>组件支持组合</li>
</ul>

<p>交流群</p>
 QQ群：<a class="fa fa-link" target="_blank" href="https://jq.qq.com/?_wv=1027&k=OUJVYPpX"> BootstrapAdmin & Blazor</a>（795206915）欢迎加群讨论
