@page "/markdowns"

<h3>Markdown 编辑器</h3>

<h4>提供 Markdown 语法支持的文本编辑器</h4>

<Block Title="普通用法" Introduction="" CodeFile="markdown.1.html">
    <div style="width: 100%; height: 300px;">
        <Markdown />
    </div>
</Block>
