@page "/searchs"

<h3>Search 搜索框</h3>

<h4>用于数据搜索</h4>

<Block Title="基本用法" Introduction="输入部分数据进行搜索" CodeFile="search.1.html">
    <p>请输入 <code>1234</code> 获取智能提示</p>
    <Search IgnoreCase="true" IsLikeMatch="true" PlaceHolder="搜索示例" Items="@Items" OnSearch="@OnSearch"></Search>
    <Logger @ref="Trace" class="mt-3" />
</Block>

<AttributeTable Items="@GetAttributes()" />
