<div class="row">
    <div class="col-12 col-sm-6">
        <MultiSelect TValue="string" Items="@TemplateItems">
            <ItemTemplate>
                <div class="mul-select-item">
                    <i class="fa-solid fa-font-awesome"></i>
                    <span>@context.Text</span>
                    <i class="fa-solid fa-font-awesome"></i>
                </div>
            </ItemTemplate>
        </MultiSelect>
    </div>
</div>

@code {
    [NotNull]
    private IEnumerable<SelectedItem>? TemplateItems { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        TemplateItems = GenerateItems();
    }

    private static List<SelectedItem> GenerateItems() => new()
    {
        new ("Beijing", "北京"),
        new ("Shanghai", "上海"),
        new ("Guangzhou", "广州"),
        new ("Shenzhen", "深圳"),
        new ("Chengdu", "成都"),
        new ("Wuhan", "武汉"),
        new ("Dalian", "大连"),
        new ("Hangzhou", "杭州"),
        new ("Lianyungang", "连云港")
    };
}
