<div>
    <MultiSelect @bind-Value="@SelectedEnumValues" />
    <div class="mt-3">@(string.Join(",", SelectedEnumValues))</div>
</div>

@code {
    private IEnumerable<EnumEducation> SelectedEnumValues { get; set; } = new List<EnumEducation>
    {
        EnumEducation.Middle, EnumEducation.Primary
    };
}
