@namespace BootstrapBlazor.Components
@inherits AlertBase

<span @attributes="@AdditionalAttributes" role="alert" class="@ClassName">
    @if(!string.IsNullOrEmpty(Icon)) {
        <i class="@Icon"></i>
    }
    @ChildContent
    @if(ShowDismiss) {
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="@OnClick">
            <i class="fa fa-times"></i>
        </button>
    }    
</span>
