@inject IStringLocalizer<LinkButtonsChildContent> Localizer

<div>
    <LinkButton>
        <i class="fa-solid fa-font-awesome"></i>
        <span>@Localizer["LinkButtonText"]</span>
    </LinkButton>
</div>
