@inject IStringLocalizer<LinkButtonsIsVertical> Localizer

<div class="row g-3">
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
        <LinkButton IsVertical="true" Icon="fa-solid fa-pen" Text="@Localizer["LinkButtonVerticalText"]" />
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
        <LinkButton IsVertical="true" Icon="fa-solid fa-pen" Text="@Localizer["LinkButtonVerticalText"]" IsDisabled="true" />
    </div>
</div>
