@inject IStringLocalizer<BootstrapBlazor.Shared.Samples.Modals> Localizer

<Button OnClick="() => ShownCallbackModal.Toggle()">@Localizer["ModalsNormalPopups"]</Button>
<Modal @ref="ShownCallbackModal" OnShownAsync="OnShownCallbackAsync">
    <ModalDialog Title="ShownCallbackAsync 回调示例">
        <BodyTemplate>
            <div>@Localizer["ModalsShownCallbackAsyncIntro"]</div>
        </BodyTemplate>
    </ModalDialog>
</Modal>
<BlockLogger @ref="Trace" class="mt-3" />

@code {
    [NotNull]
    private Modal? ShownCallbackModal { get; set; }

    [NotNull]
    private BlockLogger? Trace { get; set; }

    private Task OnShownCallbackAsync()
    {
        Trace.Log("弹窗已显示");
        return Task.CompletedTask;
    }
}
