@inject IStringLocalizer<BootstrapBlazor.Shared.Samples.Modals> Localizer

<Button OnClick="() => SmailModal.Toggle()">@Localizer["ModalsResize"]</Button>

<Modal @ref="SmailModal">
    <ModalDialog Size="Size.Small" ShowResize="true" Title="@Localizer["ModalsResize"]">
        <BodyTemplate>
            <div>@Localizer["ModalsTitlePopupWindowText"]</div>
        </BodyTemplate>
    </ModalDialog>
</Modal>

@code {
    [NotNull]
    private Modal? SmailModal { get; set; }
}
