@page "/dock-view2/nest"

<DockViewV2 Name="DockViewNest">
    <DockContent Type="DockContentType.Row">
        <DockComponent Title="标签一">
            <div class="panel">Panel1</div>
        </DockComponent>
        <DockComponent Title="标签二">
            <div class="panel">Panel2</div>
        </DockComponent>
        <DockComponent Title="嵌套布局">
            <DockViewV2 Name="DockViewInnerNest">
                <DockContent Type="DockContentType.Column">
                    <DockComponent Title="内嵌标签一">
                        <div class="panel">Panel3</div>
                    </DockComponent>
                    <DockContent Type="DockContentType.Row">
                        <DockComponent Title="内嵌标签二">
                            <div class="panel">Panel4</div>
                        </DockComponent>
                        <DockComponent Title="内嵌标签三">
                            <div class="panel">Panel5</div>
                        </DockComponent>
                    </DockContent>
                </DockContent>
            </DockViewV2>
        </DockComponent>
    </DockContent>
</DockViewV2>
