@page "/dock-view2/col"

<DockViewV2 Name="DockViewV2LayoutColumn">
    <DockViewContent Type="DockViewContentType.Column">
        <DockViewComponent Title="标签一" ShowTitleBar="true" OnTitleBarCallback="OnTitleBarCallback">
            <div class="panel">Panel1</div>
        </DockViewComponent>
        <DockViewComponent Title="标签二">
            <TitleTemplate>
                <div class="dv-default-tab-action">
                    <i class="fa-solid fa-gear"></i>
                </div>
            </TitleTemplate>
            <ChildContent>
                <div class="panel">Panel2</div>
            </ChildContent>
        </DockViewComponent>
        <DockViewComponent Title="标签三">
            <div class="panel">Panel3</div>
        </DockViewComponent>
    </DockViewContent>
</DockViewV2>

@code {
    private Task OnTitleBarCallback()
    {
        return Task.CompletedTask;
    }
}
