@page "/dock-view2/row"

<DockViewV2 Name="DockViewV2LayoutRow">
    <DockViewContent Type="DockViewContentType.Row">
        <DockViewComponent Title="标签一" ShowClose="false">
            <div class="panel">Panel1</div>
        </DockViewComponent>
        <DockViewComponent Title="标签二">
            <div class="panel">Panel2</div>
        </DockViewComponent>
        <DockViewComponent Title="标签三">
            <div class="panel">Panel3</div>
        </DockViewComponent>
    </DockViewContent>
</DockViewV2>
