@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div class="page-goto">
    @if (!string.IsNullOrEmpty(GotoText))
    {
        <div class="goto-text">@GotoText</div>
    }
    <input type="number" @bind-value="Index" @bind-value:event="onchange" class="form-control input-number-fix" @onkeyup="OnKeyup" />
</div>
