@namespace BootstrapBlazor.Components
@inherits PaginationBase

<ul @attributes="@AdditionalAttributes" class="@ClassName">
    @foreach (string str in GetShowPagination(CurrentPage, Total))
    {
        var num = str;
        var pagestr = "第" + str + "页";
        <li class="@GetLiClassName(CurrentPage,num,DisableList.Contains(num)||(CurrentPage==1&&num=="Previous") || (CurrentPage==Total&&num=="Next"))"><a href="javascript:void(0);" class="page-link" aria-label="@pagestr" @onclick="e => OnClick(num)"> @num </a></li>
    }
</ul>