@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<li @attributes="AdditionalAttributes" class="@ClassString">
    <a class="page-link" href="#" @onclick:preventDefault @onclick="OnClickItem">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            @Index
        }
    </a>
</li>
