@namespace BootstrapBlazor.Components

<li class="@ClassName">
    <a class="page-link" aria-label="@GetLabelString" @onclick:preventDefault @onclick="e => OnClick.InvokeAsync(PageIndex)">@PageIndex</a>
</li>
