@page "/tutorials/waterfall"

<div class="waterfall-demo">
    <BootstrapBlazor.Components.Waterfall Items="_items">
        <Template>
            <img alt="" hidden />
            <label>@Path.GetFileNameWithoutExtension(@context)</label>
        </Template>
    </BootstrapBlazor.Components.Waterfall>
</div>
