@page "/tutorials/waterfall"

<div class="waterfall-demo">
    <BootstrapBlazor.Components.Waterfall OnRequestAsync="GetItems">
        <ItemTemplate>
            @context
            <label>@Path.GetFileNameWithoutExtension(@context.Url)</label>
        </ItemTemplate>
    </BootstrapBlazor.Components.Waterfall>
</div>
