@page "/tutorials/waterfall"

<div class="waterfall-demo">
    <BootstrapBlazor.Components.Waterfall OnRequestAsync="GetItems">
        <Template>
            @context.Context
            <label>@Path.GetFileNameWithoutExtension(@context.Item.Url)</label>
        </Template>
    </BootstrapBlazor.Components.Waterfall>
</div>
