@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

@if (_showTooltip)
{
    <Tooltip Title="@Value">
        @RenderLabel
    </Tooltip>
}
else
{
    @RenderLabel
}

@code {
    RenderFragment RenderLabel =>
    @<label @attributes="AdditionalAttributes" class="@ClassString" style="@StyleString">@Value</label>;
}
