@using BootstrapBlazor.Shared.Samples
@inject IStringLocalizer<Spinners> Localizer

<div class="d-flex align-items-center">
    <strong>@Localizer["SpinnersCustomLoading"]</strong>
    <Spinner Class="ms-auto"></Spinner>
</div>
