<div class="row g-3">
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto"><Spinner Size="Size.ExtraSmall"></Spinner></div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto"><Spinner Size="Size.Small"></Spinner></div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto"><Spinner Size="Size.Medium"></Spinner></div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto"><Spinner Size="Size.Large"></Spinner></div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto"><Spinner Size="Size.ExtraLarge"></Spinner></div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto"><Spinner Size="Size.ExtraExtraLarge"></Spinner></div>
</div>
