@namespace BootstrapBlazor.Components
@inherits NavBase

<nav @attributes="@AdditionalAttributes" class="@ClassString">
    @foreach (var item in Items)
    {
        @Render(item)
    }
    @ChildContent
</nav>
