@inject IStringLocalizer<BootstrapBlazor.Shared.Samples.Rates> Localizer

<div class="row g-3">
    <div class="col-6">
        <Rate Value="@BindValue1" IsDisable="IsDisable" />
    </div>
    <div class="col-6">
        <Switch @bind-Value="IsDisable" OnText="@Localizer["RatesSwitchOn"]" OnColor="Color.Danger" OffText="@Localizer["RatesSwitchOff"]" OffColor="@Color.Success" />
    </div>
</div>

@code {
    private int BindValue1 { get; set; } = 2;

    private bool IsDisable { get; set; }
}
