@page "/table/selection"
@inject IStringLocalizer<TablesSelection> Localizer

<h3>@Localizer["TablesSelectionTitle"]</h3>
<h4>@((MarkupString)Localizer["TablesSelectionDescription"].Value)</h4>

<DemoBlock Title="@Localizer["TablesSelectionNormalTitle"]"
           Introduction="@Localizer["TablesSelectionNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Table.TablesSelection.TablesSelectionNormal)">
</DemoBlock>

