@page "/tables/tracking"

<h3>Table 表格</h3>

<h4>适用于父子表一起提交的应用场景</h4>

<DemoBlock Title="跟踪模式" Introduction="设置 <code>IsTracking</code> 配合 <code>Items</code> 可以不需要设置 <code>OnSaveAsync</code> 等回调方法" Name="IsTracking">
    <p>可通过设置 <code>ShowToastAfterSaveOrDeleteModel="false"</code> 关闭 <b>保存</b> <b>删除</b> 按钮的提示信息</p>
    <p>此模式下所有数据编辑均编辑原始数据，通过 <code>bind-Items</code> 更新数据源，所以不提供 <b>取消</b> 按钮</p>
    <Table TItem="Foo" IsTracking="true" @bind-Items="Items" ShowToastAfterSaveOrDeleteModel="false"
           IsBordered="true" IsMultipleSelect="true" ShowToolbar="true" ShowExtendButtons="true">
        <TableColumns>
            <TableColumn @bind-Field="@context.DateTime" Width="180" />
            <TableColumn @bind-Field="@context.Name" />
            <TableColumn @bind-Field="@context.Address" />
        </TableColumns>
    </Table>
</DemoBlock>
