<Button OnClick="Goto">@Localizer["GotoButtonText1"]</Button>
<Button OnClick="GotoSelf">@Localizer["GotoButtonText2"]</Button>

@code {
    [Inject]
    [NotNull]
    private IStringLocalizer<AjaxGoto>? Localizer { get; set; }

    [Inject]
    [NotNull]
    private AjaxService? AjaxService { get; set; }

    private async Task Goto()
    {
        await AjaxService.Goto("/introduction");
    }

    private async Task GotoSelf()
    {
        await AjaxService.Goto("/ajaxs");
    }
}
