@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase
@attribute [ExcludeFromCodeCoverage]

<div @attributes="@AdditionalAttributes" class="@ClassString">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>
