@inject IStringLocalizer<InputsTrim> Localizer

<div class="row g-3">
    <div class="col-auto col-form-label">
        <span>@Localizer["InputsTrimSpan"]</span>
    </div>
    <div class="col-6">
        <BootstrapInput @bind-Value="Model.Name" PlaceHolder="@Localizer["PlaceHolder"]" IsTrim="true" />
        <div class="mt-2">123<span>@Model.Name</span>456</div>
    </div>
</div>

@code {
    [NotNull]
    private Foo? Model { get; set; }

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();

        Model = new Foo() { Name = Localizer["TestName"] };
    }
}
