@inject IStringLocalizer<InputsPlaceholder> Localizer

<div class="row g-3">
    <div class="col-auto col-form-label">
        <span>@Localizer["InputsPlaceholderSpan"]</span>
    </div>
    <div class="col-6">
        <BootstrapInput PlaceHolder="@PlaceHolderText" Value="@Model.Name" />
    </div>
</div>

@code {
    private string? PlaceHolderText { get; set; }

    [NotNull]
    private Foo? Model { get; set; }

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();

        PlaceHolderText = Localizer["PlaceHolder"];
        Model = new Foo() { Name = Localizer["TestName"] };
    }
}
