<div class="row g-3">
    <div class="col-12 col-sm-6">
        <BootstrapInput TValue="string" Color="Color.Primary" />
    </div>
    <div class="col-12 col-sm-6">
        <BootstrapInput TValue="string" Color="Color.Info" />
    </div>
    <div class="col-12 col-sm-6">
        <BootstrapInput TValue="string" Color="Color.Warning" />
    </div>
    <div class="col-12 col-sm-6">
        <BootstrapInput TValue="string" Color="Color.Danger" />
    </div>
    <div class="col-12 col-sm-6">
        <BootstrapInput TValue="string" Color="Color.Secondary" />
    </div>
    <div class="col-12 col-sm-6">
        <BootstrapInput TValue="string" Color="Color.Dark" />
    </div>
</div>
