@inject IStringLocalizer<InputsPassword2> Localizer

<div class="row g-3">
    <div class="col-auto col-form-label">
        <span>@Localizer["InputsPassword2Span"]</span>
    </div>
    <div class="col-6">
        <BootstrapPassword PlaceHolder="@Localizer["PlaceHolder"]" IsSelectAllTextOnFocus="true" />
    </div>
</div>

@code {
    [NotNull]
    private Foo? Model { get; set; }

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();

        Model = new Foo() { Name = Localizer["TestName"] };
    }
}
