@inject IStringLocalizer<InputsNormal> Localizer

<div class="row g-3">
    <div class="col-12 col-sm-6">
        <BootstrapInput PlaceHolder="@Localizer["PlaceHolder"]"
                        TValue="string"
                        IsAutoFocus="true"
                        IsSelectAllTextOnFocus="true"
                        ShowLabel="true"
                        DisplayText="@Localizer["IsSelectAllTextOnFocusLabel"]" />
    </div>
    <div class="col-12 col-sm-6">
        <BootstrapInput PlaceHolder="@Localizer["PlaceHolder"]"
                        TValue="string"
                        IsSelectAllTextOnEnter="true"
                        ShowLabel="true"
                        DisplayText="@Localizer["IsSelectAllTextOnEnterLabel"]" />
    </div>
</div>
