@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader(JSObjectReference = true)]
@typeparam TValue

<span @attributes="AdditionalAttributes" id="@Id">&nbsp;</span>
