@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader(JSObjectReference = true)]
@typeparam TValue

<span @attributes="AdditionalAttributes" id="@Id">&nbsp;</span>
