@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader(JSObjectReference = true, AutoInvokeDispose = false)]
@typeparam TValue

<span @attributes="AdditionalAttributes" class="@ClassString" id="@Id"></span>
