@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader(JSObjectReference = true, AutoInvokeInit = false, AutoInvokeDispose = false)]
@typeparam TValue

<span @attributes="AdditionalAttributes" id="@Id">0</span>
