<Layout ShowFooter="true">
    <Header>
        <div class="text-center header">Header</div>
    </Header>
    <Main>
        <div class="text-center main">Main</div>
    </Main>
    <Footer>
        <div class="text-center footer">Footer</div>
    </Footer>
</Layout>
