@inherits BootstrapComponentBase

<h4>@Title</h4>

<p>@(new MarkupString(Introduction))</p>

<h5>示例</h5>

<div class="card card-demo">
    <div class="card-body">
        @ChildContent
    </div>
    <div class="card-footer" @ref="BlockElement">
        <div class="card-footer-code collapse">
            <Pre CodeFile="@CodeFile"></Pre>
        </div>
        <a class="card-footer-control collapsed" data-toggle="collapse">
            <i class="fa fa-caret-up"></i>
            <span class="card-demo-text"></span>
        </a>
    </div>
</div>
