<div class="@ClassString">
    <a href="@Url">
        <div class="card">
            <div class="card-header">@HeaderText</div>
            <div class="card-body"><img src="@ImageUrl" /></div>
        </div>
    </a>
</div>
