<div class="coms-cate">
    <h3>
        <span>@Text</span>
    </h3>

    <h4>@Desc</h4>

    <div class="form-inline coms-demo">
        <div class="row flex-fill">
            <CascadingValue Value="this" IsFixed="true">
                @ChildContent
            </CascadingValue>
        </div>
    </div>

    <RenderTemplate>
        @if (Cards.Count > 0)
        {
            <Badge IsPill="true" Color="Color.Success">@Cards.Count</Badge>
        }
    </RenderTemplate>
</div>
