@inherits ComplexDialogBase

@inject MessageService MessageService

<h3>ComplexDialogDemo</h3>

<Button Text="内部关闭对话框" OnClick="@OnButtonClick"></Button>


@code {
    ///
    public string? SelectedValue { get; set; }
    ///
    ///
    public override void OnDialogClosing(DialogEventArgs e)
    {
        if (e.DialogResult == DialogResult.Yes)
        {
            MessageService?.Show(new MessageOption()
            {
                Content = "点击确认的话无法通过验证"
            });
            e.Cancel = true;
        }
        else
        {
            SelectedValue = "外部按钮关闭的对话框";
        }
    }

    private void OnButtonClick()
    {
        SelectedValue = "点击内部关闭";
        DialogCloseAction?.Invoke(DialogResult.Yes);
    }
}
