<h3>无限弹窗示例</h3>

<Tab>
    <TabItem Text="用户管理">
        <div>我是用户管理 @Value</div>
        <Button Text="弹窗" OnClick="@OnClickButton" />
    </TabItem>
    <TabItem Text="菜单管理">
        <div>我是菜单管理</div>
        <Button Text="弹窗" OnClick="@OnClickButton" />
    </TabItem>
    <TabItem Text="角色管理">
        <div>我是角色管理</div>
        <Button Text="弹窗" OnClick="@OnClickButton" />
    </TabItem>
</Tab>
