<h5 class="modal-title">自定义 Header</h5>
<div class="d-flex flex-fill justify-content-end me-3">
	<Select TValue="string" Items="Items" Value="Value" OnSelectedItemChanged="OnSelectedItemChanged" style="max-width: 120px;" />
</div>
