<div class="table-attr d-none d-md-block">
    <h4>方法 Methods</h4>

    <Table TItem="BootstrapBlazor.Shared.Common.MethodItem" Items="Items">
        <TableColumns>
            <TableColumn TItem="string" @bind-Field="@context.Name" />
            <TableColumn TItem="string" @bind-Field="@context.Description" />
            <TableColumn TItem="string" @bind-Field="@context.Parameters" />
            <TableColumn TItem="string" @bind-Field="@context.ReturnValue" />
        </TableColumns>
    </Table>
</div>

@code {
    [Parameter] public IEnumerable<MethodItem>? Items { get; set; }
}
