@inherits BootstrapComponentBase

<Alert AdditionalAttributes="@AdditionalAttributes" ShowBar="true" Color="@Color">
    <h4><i class="@Icon"></i>@Title</h4>
    @ChildContent
</Alert>

@code {
    /// <summary>
    /// 获得/设置 颜色 默认为 Info
    /// </summary>
    [Parameter]
    public string Title { get; set; } = "小技巧";

    /// <summary>
    /// 获得/设置 图标
    /// </summary>
    [Parameter]
    public string Icon { get; set; } = "fa fa-lightbulb-o";

    /// <summary>
    /// 获得/设置 颜色 默认为 Info
    /// </summary>
    [Parameter]
    public Color Color { get; set; } = Color.Info;

    /// <summary>
    /// 获得/设置 子组件内容
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
} 