<CherryMarkdown @bind-Value="MarkdownString" @bind-Html="HtmlString" style="height: 400px" />
<div class="mt-3">
    <textarea class="form-control" rows="6" disabled="disabled">@MarkdownString</textarea>
</div>
<div class="mt-3">
    <textarea class="form-control" rows="6" disabled="disabled"> @HtmlString</textarea>
</div>

@code {
    private string? HtmlString { get; set; }

    private string? MarkdownString { get; set; } = "# test";
}
