<h3>@Title</h3>

<p>@(new MarkupString(Introduction))</p>

<h4>示例</h4>

<div class="card">
    <div class="card-body">
        @ChildContent
    </div>
    <div class="card-footer">
        <div class="card-footer-code collapse">
            <pre><Code CodeFile="@CodeFile" /></pre>
        </div>
        <a class="card-footer-control" href="#">
            <i class="fa fa-caret-down"></i>
            <span>显示代码</span>
        </a>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "未设置";

    [Parameter] public string Introduction { get; set; } = "未设置";

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public string? CodeFile { get; set; }
}
