<h3>@Title</h3>

<p>@(new MarkupString(Introduction))</p>

<h4>示例</h4>

<div class="card">
    <div class="card-body">
        @ChildContent
    </div>
    <div class="card-footer">
        <div class="card-footer-code collapse">
            <pre><code @ref="CodeElement"><Code CodeFile="@CodeFile" /></code></pre>
            <span class="copy-icon" data-toggle="tooltip" title="点击复制代码"><i class="fa fa-clone"></i></span>
        </div>
        <a class="card-footer-control" href="#">
            <i class="fa fa-caret-down"></i>
            <span>显示代码</span>
        </a>
    </div>
</div>
