<div class="pre-code">
    <pre @attributes="@AdditionalAttributes" class="@ClassName"><Code CodeFile="@CodeFile">@ChildContent</Code></pre>
    <span class="copy-code" data-toggle="tooltip" title="点击复制代码"><i class="fa fa-clone"></i></span>
</div>
