@inject IStringLocalizer<Splits> Localizer

<div class="border split-demo split-demo-horizontal">
    <Split>
        <FirstPaneTemplate>
            <div class="d-flex justify-content-center align-items-center h-100"></div>
        </FirstPaneTemplate>
        <SecondPaneTemplate>
            <div class="d-flex justify-content-center align-items-center h-100">@Localizer["SplitsPannel2"]</div>
        </SecondPaneTemplate>
    </Split>
</div>
