<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="azure" value="https://nuget.cdn.azure.cn/v3/index.json" />
    <add key="cnblogs" value="https://nuget.cnblogs.com/v3/index.json" />
    <add key="huawei" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" />
  </packageSources>
</configuration>
