<Card>
    <HeaderTemplate>
        Featured
    </HeaderTemplate>
    <BodyTemplate>
        <h5>Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-primary">Go somewhere</a>
    </BodyTemplate>
    <FooterTemplate>
        2 days ago
    </FooterTemplate>
</Card>
