<Card>
    <BodyTemplate>
        <h5>Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a class="btn btn-primary">Go somewhere</a>
    </BodyTemplate>
</Card>
