<div class="row g-3">
    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
        <Card Color="Color.Primary" IsCenter="true">
            <HeaderTemplate>
                Header
            </HeaderTemplate>
            <BodyTemplate>
                <h5>Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </BodyTemplate>
        </Card>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
        <Card Color="Color.Secondary" IsCenter="true">
            <HeaderTemplate>
                Header
            </HeaderTemplate>
            <BodyTemplate>
                <h5>Secondary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </BodyTemplate>
        </Card>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
        <Card Color="Color.Success" IsCenter="true">
            <HeaderTemplate>
                Header
            </HeaderTemplate>
            <BodyTemplate>
                <h5>Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </BodyTemplate>
        </Card>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
        <Card Color="Color.Warning" IsCenter="true">
            <HeaderTemplate>
                Header
            </HeaderTemplate>
            <BodyTemplate>
                <h5>Warning card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </BodyTemplate>
        </Card>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
        <Card Color="Color.Danger" IsCenter="true">
            <HeaderTemplate>
                Header
            </HeaderTemplate>
            <BodyTemplate>
                <h5>Danger card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </BodyTemplate>
        </Card>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
        <Card Color="Color.Info" IsCenter="true">
            <HeaderTemplate>
                Header
            </HeaderTemplate>
            <BodyTemplate>
                <h5>Info card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </BodyTemplate>
        </Card>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
        <Card Color="Color.Dark" IsCenter="true">
            <HeaderTemplate>
                Header
            </HeaderTemplate>
            <BodyTemplate>
                <h5>Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </BodyTemplate>
        </Card>
    </div>
</div>
