@page "/festival"
@layout MainLayout
@inject IStringLocalizer<Festivals> Localizer

<h3>节日服务 <code>ICalendarFestivals</code></h3>
<h4>本服务负责解析指定日期是否为节日</h4>

<p class="code-label">接口定义</p>

<Pre>public interface ICalendarFestivals
{
    /// &lt;Summary&gt;
    /// 获得 节日键值对
    /// &lt;/Summary&gt;
    string? GetFestival(DateTime dt);
}</Pre>

<p class="code-label">内置接口实现</p>

<p>公历节日数据</p>

<Pre>[
    {"0101", "元旦"},
    {"0214", "情人节"},
    {"0308", "妇女节"},
    {"0312", "植树节"},
    {"0401", "愚人节"},
    {"0501", "劳动节"},
    {"0504", "青年节"},
    {"0601", "儿童节"},
    {"0701", "建党节"},
    {"0801", "建军节"},
    {"1001", "国庆节"},
    {"1225", "圣诞节"}
]</Pre>

<p>农历节日数据</p>

<Pre>[
    {"0101", "春节"},
    {"0115", "元宵节"},
    {"0505", "端午节"},
    {"0815", "中秋节"},
    {"0909", "重阳节"},
    {"1208", "腊八节"},
    {"1230", "除夕"},
]</Pre>
