@page "/hik-vision"
@inject IStringLocalizer<HikVisions> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<div id="divPlugin" class="plugin"></div>

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal">
</DemoBlock>
