@page "/hik-vision"
@inject IStringLocalizer<HikVisions> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal">
    <HikVision @ref="_hikVision"></HikVision>
    <section ignore>
        <Button OnClickWithoutRender="OnLogin">
            <span>登录</span>
        </Button>
        <Button OnClickWithoutRender="OnLogout">
            <span>退出</span>
        </Button>
        <Button OnClickWithoutRender="OnStartRealPlay">
            <span>开始预览</span>
        </Button>
        <Button OnClickWithoutRender="OnStopRealPlay">
            <span>停止预览</span>
        </Button>
    </section>
</DemoBlock>
