@page "/layout-demo"
@page "/layout-demo/{title?}"
@layout PageLayout

<p>测试路径：</p>

<p>
    <a href="/layout-demo?text=Parameter">layout-demo?text=Parameter</a>
</p>

<p>
    <a href="/layout-demo/text=Parameter">layout-demo/text=Parameter</a>
</p>

<p>已支持路由参数: @Text</p>

<p>已支持路由参数: @Title</p>

<div>
    精彩从这里开始
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery()]
    public string? Text { get; set; }

    [Parameter]
    public string? Title { get; set; }
}
