@page "/navbar"
@inject IStringLocalizer<Navbars> Localizer

<h3>@Localizer["NavbarTitle"]</h3>

<h4>@Localizer["NavbarDescription"]</h4>

<DemoBlock Title="@Localizer["NormalTitle"]" Introduction="@Localizer["NormalIntro"]" Name="Normal">
    <section ignore>

    </section>
    <Navbar>
        <NavbarBrand>
            <a href="#">Navbar</a>
        </NavbarBrand>
        <NavbarToggleButton Target="#test"></NavbarToggleButton>
        <NavbarCollapse Id="test">
            <NavbarGroup>
                <NavbarLink>Home</NavbarLink>
                <NavbarLink Text="Link"></NavbarLink>
                <NavbarLink IsDisabled="true">Disabled</NavbarLink>
            </NavbarGroup>
            <NavbarGroup>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </NavbarGroup>
        </NavbarCollapse>
    </Navbar>
</DemoBlock>
