@page "/navbar"
@inject IStringLocalizer<Navbars> Localizer

<h3>@Localizer["NavbarTitle"]</h3>

<h4>@Localizer["NavbarDescription"]</h4>

<DemoBlock Title="@Localizer["NormalTitle"]" Introduction="@Localizer["NormalIntro"]" Name="Normal">
    <Navbar>
        <NavbarBrand>
            <a>Navbar</a>
        </NavbarBrand>
        <NavbarToggleButton Target="#test"></NavbarToggleButton>
        <NavbarCollapse Id="test">
            <NavbarGroup>
                <NavbarLink>Home</NavbarLink>
                <NavbarLink Text="Link"></NavbarLink>
                <NavbarDropdown Text="Dropdown">
                    <NavbarDropdownItem>Action</NavbarDropdownItem>
                    <NavbarDropdownItem>Another action</NavbarDropdownItem>
                    <NavbarDropdownDivider></NavbarDropdownDivider>
                    <NavbarDropdownItem>Something else here</NavbarDropdownItem>
                </NavbarDropdown>
                <NavbarLink IsDisabled="true">Disabled</NavbarLink>
                <NavbarItem>
                    <a class="nav-link">About</a>
                </NavbarItem>
            </NavbarGroup>
            <NavbarGroup>
                <ValidateForm class="d-flex" role="search" Model="_searchModel" OnValidSubmit="OnValidSubmit">
                    <BootstrapInput class="me-2" placeholder="Search" @bind-Value="_searchModel.SearchText" ShowLabel="false" SkipValidate="true"></BootstrapInput>
                    <Button Color="Color.Success" IsOutline="true" ButtonType="ButtonType.Submit">Search</Button>
                </ValidateForm>
            </NavbarGroup>
        </NavbarCollapse>
    </Navbar>
    <section ignore>
        <ul class="ul-demo">
            <li><code>NavbarBrand</code> 渲染 <code>navbar-brand</code> 样式</li>
            <li><code>NavbarToggleButton</code> 渲染 <code>navbar-toggler</code> 样式</li>
            <li><code>NavbarCollapse</code> 渲染 <code>collapse navbar-collapse</code> 样式</li>
            <li><code>NavbarGroup</code> 渲染 <code>navbar-nav</code> 样式</li>
            <li><code>NavbarItem</code> 渲染 <code>navbar-item</code> 样式</li>
            <li><code>NavbarLink</code> 渲染 <code>nav-link</code> 样式</li>
            <li><code>NavbarDropdown</code> 渲染 <code>nav-item dropdown</code> 样式</li>
            <li><code>NavbarDropdownItem</code> 渲染 <code>dropdown-item</code> 样式</li>
        </ul>
    </section>
</DemoBlock>
