@page "/opc-da"
@inject IStringLocalizer<OpcDa> Localizer

<h3>@Localizer["OpcDaTitle"]</h3>

<h4>@Localizer["OpcDaDescription"]</h4>

<PackageTips Name="BootstrapBlazor.OpcDa" />

<DemoBlock Title="@Localizer["OpcDaTitle"]" Introduction="@Localizer["OpcDaIntro"]" Name="Normal">
    <section ignore>

    </section>
</DemoBlock>
