@page "/pdf-reader"
@inject IStringLocalizer<PdfReaders> Localizer

<h3>@Localizer["PdfTitle"]</h3>
<h3>@Localizer["PdfDescription"]</h3>

<PackageTips Name="BootstrapBlazor.PdfReader" />

<DemoBlock Title="@Localizer["PdfReaderNormalText"]" Introduction="@Localizer["PdfReaderNormalIntro"]" Name="Normal">
    <section ignore class="row form-inline g3">
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel>ShowTwoPagesOnView</BootstrapInputGroupLabel>
                <Switch @bind-Value="_options.ShowTwoPagesOnViewButton"></Switch>
            </BootstrapInputGroup>
        </div>
    </section>
    <PdfReader Options="_options"></PdfReader>
</DemoBlock>
