@page "/select-object"

@inject IStringLocalizer<SelectObjects> Localizer

<h3>任意Select</h3>
<h4>任意Select</h4>

<DemoBlock Title="添加 ListView" Introduction="添加 ListView" Name="Normal">
    <SelectObject @bind-Value="_value" GetTextCallback="GetTextCallback">
        <ListView TItem="ListViews.Product" Items="@Products" OnListViewItemClick="item => OnListViewItemClick(item, context)">
            <BodyTemplate Context="value">
                <Card>
                    <BodyTemplate>
                        <img src="@value.ImageUrl" />
                        <div class="lv-demo-desc">@value.Description</div>
                    </BodyTemplate>
                </Card>
            </BodyTemplate>
        </ListView>
    </SelectObject>
</DemoBlock>

