@page "/svg-editors"
@inject IStringLocalizer<SvgEditors> Localizer

<h3>@Localizer["SvgEditorTitle"]</h3>

<PackageTips Name="BootstrapBlazor.SvgEditor" />

<DemoBlock Title="@Localizer["BasicTitle"]" Introduction="@Localizer["BasicIntro"]">
    <SvgEditor OnSaveChanged="@OnSaveChanged"></SvgEditor>
    <ConsoleLogger @ref="Console" class="mt-3"></ConsoleLogger>
</DemoBlock>

<AttributeTable Type="typeof(SvgEditor)" />
