@page "/win-box"
@inject IStringLocalizer<WinBoxes> Localizer
@inject IStringLocalizer<Foo> LocalizerFoo

<h3>@Localizer["WinBoxTitle"]</h3>
<h4>@Localizer["WinBoxDescription"]</h4>

<PackageTips Name="BootstrapBlazor.WinBox" />

<DemoBlock Title="@Localizer["WinBoxNormalTitle"]"
           Introduction="@Localizer["WinBoxNormalIntro"]"
           Name="Normal">
    <Button Text="Run" OnClickWithoutRender="OpenWinBox" ></Button>
</DemoBlock>

<WinBox></WinBox>
