@namespace BootstrapBlazor.Components
@inherits SkeletonBase

<div @attributes="@AdditionalAttributes" class="skeleton">
    <div class="@ClassString">
        <div class="@AvatarClassString"></div>
    </div>
</div>