@namespace BootstrapBlazor.Components
@inherits SkeletonBase

<div @attributes="@AdditionalAttributes" class="skeleton">
    <div class="@ClassString">
        <div class="row g-3">
            <div class="col-12 col-sm-6 col-md-4">
                <label class="form-label skeleton-row"></label>
                <div class="form-control skeleton-row"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <label class="form-label skeleton-row"></label>
                <div class="form-control skeleton-row"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <label class="form-label skeleton-row"></label>
                <div class="form-control skeleton-row"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <label class="form-label skeleton-row"></label>
                <div class="form-control skeleton-row"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <label class="form-label skeleton-row"></label>
                <div class="form-control skeleton-row"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <label class="form-label skeleton-row"></label>
                <div class="form-control skeleton-row"></div>
            </div>
        </div>
    </div>
</div>
