@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader(JSObjectReference = true)]

<div @attributes="@AdditionalAttributes" class="@ClassString">
    @if (ShowHour)
    {
        @RenderItem
        @RenderItem

        <div class="bb-flip-clock-colon">:</div>
    }

    @if (ShowMinute)
    {
        @RenderItem
        @RenderItem

        <div class="bb-flip-clock-colon">:</div>
    }

    @RenderItem
    @RenderItem
</div>

@code {
    RenderFragment RenderItem =>
    @<ul class="bb-flip-clock-item">
        @foreach (var index in Enumerable.Range(0, 9))
        {
            <li>
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">@index</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">@index</div>
                </div>
            </li>
        }
    </ul>;
}
