@page "/host-model"

<h3>ASP.NET Core Blazor 托管模型</h3>

<p>目前 ASP.NET Core Blazor 的托管模型一共有三种，分别是</p>

<ul class="ul-demo">
    <li>Blazor Server</li>
    <li>Blazor WebAssembly</li>
    <li>Blazor Hybrid</li>
</ul>

<p>更多详细资料请查看微软官网文档 <a href="https://learn.microsoft.com/zh-cn/aspnet/core/blazor/hosting-models?view=aspnetcore-10.0&wt.mc_id=DT-MVP-5004174">[传送门]</a></p>

<p><b>目前我们推荐使用 <code>Blazor Server</code> 托管模型</b></p>

<p>使用 <code></code></p>
