@page "/online"
@layout MainLayout

<h4>在线人数统计</h4>

<section class="mt-3">
    <Table TItem="DynamicObject" DynamicContext="DataTableDynamicContext" IsBordered="true" IsStriped="true"></Table>
</section>
