@page "/online"
@layout MainLayout
@inject IStringLocalizer<Online> Localizer

<h4>@Localizer["SubTitle"]</h4>

<section class="mt-3 table-full">
    <Table TItem="DynamicObject" DynamicContext="DataTableDynamicContext" IsFixedHeader="true" IsBordered="true" IsStriped="true"></Table>
</section>
