<Tooltip Title="@HtmlString" IsHtml="true" Sanitize="false" Selector=".tooltip-selector">
    <div>
        <i class="fa-solid fa-flag" />
        <span class="tooltip-selector ms-2">This is Tooltip</span>
    </div>
</Tooltip>

@code {
    private static string HtmlString => "This is <a href=\"www.blazor.zone\">Blazor</a> tooltip";
}
