<div class="row g-3">
    <div class="col-6 col-sm-4 col-md-3">
        <Tooltip Placement="Placement.Top" Title="Tootip" Trigger="click">
            <Button Text="@TopString" />
        </Tooltip>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <Tooltip Placement="Placement.Left" Title="Tootip" Trigger="click">
            <Button Text="@LeftString" />
        </Tooltip>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <Tooltip Placement="Placement.Bottom" Title="Tootip" Trigger="click">
            <Button Text="@BottomString" />
        </Tooltip>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
        <Tooltip Placement="Placement.Right" Title="Tootip" Trigger="click">
            <Button Text="@RightString" />
        </Tooltip>
    </div>
</div>

@code {
    private static string TopString => "Tooltip on top";

    private static string LeftString => "Tooltip on left";

    private static string RightString => "Tooltip on right";

    private static string BottomString => "Tooltip on bottom";
}
