@using Microsoft.AspNetCore.Components.Authorization
@inject IStringLocalizer<BlockRoles> Localizer
<div style="height: 21px;">
    <Block Roles="@Roles">
        <div>@((MarkupString)Localizer["RolesDiv1"].Value)</div>
    </Block>
</div>
<Button Icon="@GetUser()" Text="@GetUserText()" OnClick="ToggleAuthor" class="mt-3" />

@code {
    private string GetUser() => IsAuth ? "fa-solid fa-user-secret" : "fa-solid fa-user";
    [Inject]
    [NotNull]
    private AuthenticationStateProvider? AuthenticationStateProvider { get; set; }
    private IEnumerable<string> Roles { get; } = new string[] { "User" };
    private bool IsAuth { get; set; }

    [NotNull]
    private string? UserName { get; set; }
    private string GetUserText() => IsAuth ? Localizer["Logout"] : Localizer["Login"];
    private async Task ToggleAuthor()
    {
        if (AuthenticationStateProvider is MockAuthenticationStateProvider mock)
        {
            if (!IsAuth)
            {
                mock.Login();
                var state = await mock.GetAuthenticationStateAsync();
                UserName = state.User.Identity?.Name;
                IsAuth = state.User.Identity?.IsAuthenticated ?? false;
            }
            else
            {
                mock.Logout();
                IsAuth = false;
                UserName = "";
            }
        }
    }
}
