@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div class="@ClassString" @ref="TransitionElement" @attributes="@AdditionalAttributes" style="@StyleString">
    @ChildContent
</div>
