@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor.DockView2/Components/DockView/DockView2.razor.js", JSObjectReference = true, AutoInvokeInit = false)]
<div id="@Id" class="dockview-theme-abyss" style="width:100%;height:100%">
</div>
