@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<a @attributes="@AdditionalAttributes" class="@ClassString" href="@Item?.Url" @onclick="@OnClickLink">
    @if (!string.IsNullOrEmpty(Item?.Icon))
    {
        <i class="@Item?.Icon"></i>
    }
    <span>@Item?.Text</span>
</a>
