@namespace BootstrapBlazor.Components

<div class="@ClassString" style="@GetStyleString()"></div>

@if (_options is { ChildContent: not null })
{
    <div class="bb-mask-content">
        @_options.ChildContent
    </div>
}
