@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader(AutoInvokeInit = false, AutoInvokeDispose = false)]

<div class="bb-mask" id="@Id" style="@StyleString">
    <div class="bb-mask-backdrop"></div>

    @if (_options is { ChildContent: not null })
    {
        <div class="bb-mask-content">
            @_options.ChildContent
        </div>
    }
</div>
