@namespace BootstrapBlazor.Components

<div class="@ClassString" style="@GetStyleString()">
    <CascadingValue Value="Close" IsFixed="true">
        @_options?.ChildContent
    </CascadingValue>
</div>
