@namespace BootstrapBlazor.Components

<div class="@ClassString" style="@StyleString">
    <div class="bb-mask-backdrop"></div>

    @if (_options is { ChildContent: not null })
    {
        <div class="bb-mask-content">
            @_options.ChildContent
        </div>
    }
</div>
