@namespace BootstrapBlazor.Components

<div class="float-left table-toolbar-button">
    <CascadingValue Value="this" IsFixed="true">
        <TableToolbarContent />
        @ChildContent
    </CascadingValue>
</div>
