@namespace BootstrapBlazor.Components
@typeparam TItem
@inherits TableBase<TItem>

<table @attributes="@AdditionalAttributes" id="@Id" class="@ClassName">
    <thead>
        <TableColumnCollection>
            <TableColumnContent />
            @HeaderTemplate?.Invoke(HeaderModel)
        </TableColumnCollection>
    </thead>
    <tbody>
        @if (Items != null)
        {
            for (int index = 0; index < Items.Count(); index++)
            {
                <tr>
                    @RowTemplate?.Invoke(Items.ElementAt(index))
                </tr>
            }
        }
    </tbody>
</table>
