@namespace BootstrapBlazor.Components
@typeparam TItem

<div class="float-left table-toolbar-button">
    <CascadingValue Value="this" IsFixed="true">
        <TableToolbarContent TItem="TItem" />
        @ChildContent
    </CascadingValue>
</div>
