<div class="demo-inputnumber">
    <BootstrapInputNumber Value="@BindValue" IsSelectAllTextOnFocus="true" />
</div>

<style>
    .demo-inputnumber {
        width: 160px;
    }

        .demo-inputnumber > .form-control {
            width: inherit;
        }
</style>

@code {
    /// <summary>
    /// BindValue
    /// </summary>
    public int BindValue { get; set; } = 5;
}
