<div class="row g-3">
    <div class="col-12 col-sm-6">
        <BootstrapInputNumber Value="10" IsDisabled="true" />
    </div>
    <div class="col-12 col-sm-6">
        <BootstrapInputNumber Value="20" IsDisabled="true" ShowButton="true" />
    </div>
</div>

<style>
    .demo-inputnumber {
        width: 160px;
    }

        .demo-inputnumber > .form-control {
            width: inherit;
        }
</style>
