<Carousel Width="280" IsFade="true">
    <CarouselItem>
        <CaptionTemplate>
            <h5>First slide label</h5>
            <p>Pic0.jpg</p>
        </CaptionTemplate>
        <ChildContent>
            <img src="./images/Pic0.jpg" alt="demo-image" />
        </ChildContent>
    </CarouselItem>
    <CarouselItem>
        <CaptionTemplate>
            <h5>Second slide label</h5>
            <p>Pic1.jpg</p>
        </CaptionTemplate>
        <ChildContent>
            <img src="./images/Pic1.jpg" alt="demo-image" />
        </ChildContent>
    </CarouselItem>
    <CarouselItem>
        <CaptionTemplate>
            <h5>Third slide label</h5>
            <p>Pic2.jpg</p>
        </CaptionTemplate>
        <ChildContent>
            <img src="./images/Pic2.jpg" alt="demo-image" />
        </ChildContent>
    </CarouselItem>
</Carousel>
