<Carousel Width="720" ShowIndicators="false">
    <CarouselItem>
        <div class="carousel-item-demo2">
            <div class="demo-item">
                <div class="top">
                    <div>Sales champion</div>
                    <div>www.blazor.zone</div>
                </div>
                <img src="./images/avatars/150-5.jpg" alt="demo-image" />
                <div class="bottom">
                    Carousel Item
                </div>
            </div>
            <div class="demo-item">
                <div class="top">
                    <div>Sales champion</div>
                    <div>www.blazor.zone</div>
                </div>
                <img src="./images/avatars/150-7.jpg" alt="demo-image" />
                <div class="bottom">
                    Carousel Item
                </div>
            </div>
            <div class="demo-item">
                <div class="top">
                    <div>Sales champion</div>
                    <div>www.blazor.zone</div>
                </div>
                <img src="./images/avatars/150-11.jpg" alt="demo-image" />
                <div class="bottom">
                    Carousel Item
                </div>
            </div>
        </div>
    </CarouselItem>
    <CarouselItem>
        <div class="carousel-item-demo2">
            <div class="demo-item">
                <div class="top">
                    <div>Sales champion</div>
                    <div>www.blazor.zone</div>
                </div>
                <img src="./images/avatars/150-6.jpg" alt="demo-image" />
                <div class="bottom">
                    Carousel Item
                </div>
            </div>
            <div class="demo-item">
                <div class="top">
                    <div>Sales champion</div>
                    <div>www.blazor.zone</div>
                </div>
                <img src="./images/avatars/150-12.jpg" alt="demo-image" />
                <div class="bottom">
                    Carousel Item
                </div>
            </div>
            <div class="demo-item">
                <div class="top">
                    <div>Sales champion</div>
                    <div>www.blazor.zone</div>
                </div>
                <img src="./images/avatars/150-15.jpg" alt="demo-image" />
                <div class="bottom">
                    Carousel Item
                </div>
            </div>
        </div>
    </CarouselItem>
</Carousel>
