@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<a href="#" @onclick:preventDefault @onclick="OnLogout">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <i class="@Icon"></i>
    }
    @if (!string.IsNullOrEmpty(Text))
    {
        <span>@Text</span>
    }
</a>
