<div @ref="@DivElement" style="padding: 1rem;">
    <h2>Header</h2>
    <h4>Sub title</h4>
    <div style="color: red;">This is html body</div>
</div>

<Button OnClick="OnExport" Text="PDF"></Button>

@code {
    [Inject]
    [NotNull]
    private IHtml2Pdf? PdfService { get; set; }

    private ElementReference DivElement { get; set; }

    private Task OnExport() => PdfService.ExportByElementAsync(DivElement, "test-ref.pdf");
}
