@inject IStringLocalizer<DialogApply> Localizer

<Button OnClick="@OnResizeDialogClick" Text="Resize"></Button>

@code {
    [Inject]
    [NotNull]
    private DialogService? DialogService { get; set; }

    private Task OnResizeDialogClick() => DialogService.Show(new DialogOption()
        {
            Title = "Resize dialog",
            ShowResize = true,
            BodyTemplate = builder => builder.AddContent(0, "I am content")
        });
}
