@page "/"
@using BootstrapBlazor.Shared
@namespace BootstrapBlazor.Server
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap Blazor 演示网站</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta content="bootstrap,blazor,wasm,webassembly,UI,netcore,web,assembly" name="Keywords">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="favicon.png">
    <base href="~/">
    <link rel="stylesheet" href="_content/BootstrapBlazor/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="_content/BootstrapBlazor/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="_content/BootstrapBlazor/lib/chartjs/Chart.min.css">
    <link rel="stylesheet" href="_content/BootstrapBlazor/lib/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="_content/BootstrapBlazor/lib/overlayscrollbars/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="_content/BootstrapBlazor/lib/editor.md/editormd.css">
    <link rel="stylesheet" href="_content/BootstrapBlazor/css/bootstrap.blazor.css">
    <link rel="stylesheet" href="_content/BootstrapBlazor.Shared/lib/highlight/vs.css">
    <link rel="stylesheet" href="_content/BootstrapBlazor.Shared/css/site.css">
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss"><i class="fa fa-times"></i></a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BootstrapBlazor/lib/jquery/jquery.min.js"></script>
    <script src="_content/BootstrapBlazor/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="_content/BootstrapBlazor/lib/chartjs/Chart.bundle.min.js"></script>
    <script src="_content/BootstrapBlazor/lib/summernote/summernote-bs4.min.js"></script>
    <script src="_content/BootstrapBlazor/lib/summernote/summernote-zh-CN.min.js"></script>
    <script src="_content/BootstrapBlazor/lib/overlayscrollbars/jquery.overlayScrollbars.min.js"></script>
    <script src="_content/BootstrapBlazor/lib/editor.md/editormd.js"></script>
    <script src="_content/BootstrapBlazor/js/bootstrap.blazor.js"></script>
    <script src="_content/BootstrapBlazor/lib/barcodereader/zxing.js"></script>
    <script src="_content/BootstrapBlazor/lib/barcodereader/barcode.js"></script>
    <script src="_content/BootstrapBlazor.Shared/lib/highlight/highlight.min.js"></script>
    <script src="_content/BootstrapBlazor.Shared/js/common.js"></script>
</body>
</html>
