@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

@if (ChildContent != null)
{
    <a @attributes="@AdditionalAttributes" href="@Url" @onclick="@OnClickLink">@ChildContent</a>
}
