@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

<Tooltip Title="@TooltipText">
    <div @attributes="@AdditionalAttributes" class="@ClassString" @onclick="OnClick">
        <i class="@Icon"></i>
    </div>
</Tooltip>

