<div class="pre-code" @ref="PreElement">
    <pre @attributes="@AdditionalAttributes" class="@ClassName"><code>@ChildContent</code></pre>
    <button type="button" class="btn-clipboard" data-toggle="tooltip" title="点击复制代码">Copy</button>
</div>
