@inject IStringLocalizer<ScrollNormal> Localizer

<div>
    <Scroll class="scroll-demo" Height="200px">
        <div style="height: 400px;">@Localizer["ScrollNormalDescription"]</div>
        <div>@Localizer["ScrollNormalbottom"]</div>
    </Scroll>
</div>
