<div class="row g-3">
    <div class="col-12 col-sm-6">
        <Cascader Color="Color.Primary" Items="@_guidItems" @bind-Value="@CurrentGuid" />
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-control">@CurrentGuid</div>
    </div>
</div>

@code {
    private Guid CurrentGuid { get; set; }

    private readonly IEnumerable<CascaderItem> _guidItems = new CascaderItem[]
    {
        new CascaderItem(Guid.NewGuid().ToString(), "Guid1"),
        new CascaderItem(Guid.NewGuid().ToString(), "Guid2")
    };
}
