<div class="row row-cols-4 g-2">
    <div class="col">
        <FileIcon Extension=".xlsx" IconColor="Color.Success">
            <BackgroundTemplate>
                <i class="fa-regular fa-clipboard fa-4x" />
            </BackgroundTemplate>
        </FileIcon>
    </div>
</div>
