<div class="row row-cols-4 g-2">
    <div class="col">
        <FileIcon Extension=".xlsx" />
    </div>
    <div class="col">
        <FileIcon Extension=".docx" />
    </div>
    <div class="col">
        <FileIcon Extension=".pptx" />
    </div>
    <div class="col">
        <FileIcon Extension=".pdf" />
    </div>
    <div class="col">
        <FileIcon Extension=".mp4" />
    </div>
    <div class="col">
        <FileIcon Extension=".png" />
    </div>
    <div class="col">
        <FileIcon Extension=".jpeg" />
    </div>
    <div class="col">
        <FileIcon Extension=".cs" />
    </div>
</div>
