<div class="row row-cols-4 g-2">
    <div class="col">
        <FileIcon Extension=".xlsx" IconColor="Color.Success" />
    </div>
    <div class="col">
        <FileIcon Extension=".docx" IconColor="Color.Primary" />
    </div>
    <div class="col">
        <FileIcon Extension=".pptx" IconColor="Color.Danger" />
    </div>
    <div class="col">
        <FileIcon Extension=".pdf" IconColor="Color.Warning" />
    </div>
    <div class="col">
        <FileIcon Extension=".mp4" IconColor="Color.Info" />
    </div>
    <div class="col">
        <FileIcon Extension=".png" IconColor="Color.Secondary" />
    </div>
    <div class="col">
        <FileIcon Extension=".jpeg" IconColor="Color.Dark" />
    </div>
    <div class="col">
        <FileIcon Extension=".cs" IconColor="Color.Light" />
    </div>
</div>
