<div class="row g-3">
    <div class="col-12 col-sm-6">
        <SelectTree Items="Items" @bind-Value="Model"></SelectTree>
    </div>
    <div class="col-12 col-sm-6">
        <Display Value="Model.Text" />
    </div>
</div>

@code {
    private List<TreeViewItem<TreeFoo>> Items { get; } = TreeFoo.GetTreeItems();

    [NotNull]
    private TreeFoo? Model { get; set; }

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        Model = new TreeFoo()
        {
            Text = "Sub Menu Three",
            Id = "1090",
            ParentId = "1050",
            Icon = "fa-solid fa-font-awesome",
            IsActive = true
        };
    }
}
