<div class="row">
    <div class="col-12 col-sm-6 overflow-hidden">
        <SelectTree Items="Items" IsPopover="true" />
    </div>
</div>

@code {
    private List<TreeViewItem<TreeFoo>> Items { get; } = TreeFoo.GetTreeItems();
}
