@page "/rangesliders"

@inject IStringLocalizer<RangeSliders> Localizer

<h3>@Localizer["RangeSlidersTitle"]</h3>

<h4>@Localizer["RangeSlidersDescription"]</h4>

<DemoBlock Title="@Localizer["RangeSliderNormalTitle"]"
           Introduction="@Localizer["RangeSliderNormalIntro"]"
           Name="RangeSliderNormal"
           Demo="typeof(Demos.RangeSliders.RangeSliderNormal)" />
