@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<a @attributes="@AdditionalAttributes" data-target="#@Target" data-container="@Container" data-offset="@Offset" href="#" @ref="AnchorElement">
    @ChildContent
</a>
