<Calendar>
    <CellTemplate>
        <td class="@context.DefaultCss">
            <div class="calendar-day">
                <div>@context.CellValue.Day</div>
            </div>
        </td>
    </CellTemplate>
</Calendar>
