@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader(AutoInvokeInit = false, AutoInvokeDispose = false)]

<div @attributes="AdditionalAttributes" id="@Id" class="@ClassString" style="@StyleString">
    @ChildContent
</div>
