@namespace BootstrapBlazor.Components
@inherits ScrollBase

<div @attributes="AdditionalAttributes" class="@ClassString" style="@StyleString" data-hide="@AutoHideString" data-delay="@Delay" @ref="ScrollElement">
    @ChildContent
</div>