@namespace BootstrapBlazor.Components
@inherits ScrollBase

<div @attributes="AdditionalAttributes" class="@ClassString" data-height="@Height" data-width="@Width" data-hide="@AutoHideString" @ref="ScrollElement">
    @ChildContent
</div>