@inject IStringLocalizer<ButtonExtension> Localizer

<div class="row">
    <div class="col-auto">
        <WinButton Text="@Localizer["ButtonOne"]" OnClick="@ClickButtonShowText"></WinButton>
    </div>
    <div class="col-auto">
        <WinButton Text="@Localizer["ButtonTwo"]" OnClick="@ClickButtonShowText"></WinButton>
    </div>
    <div class="col-auto" style="padding: 7px 0;">
        @ButtonText
    </div>
</div>

@code {
    private string ButtonText { get; set; } = "";

    private Task ClickButtonShowText(string text)
    {
        ButtonText = text;
        StateHasChanged();
        return Task.CompletedTask;
    }
}
