@inject IStringLocalizer<ButtonTooltip> Localizer

<div class="row row-cols-2">
    <div class="col">
        <Button Text="@Localizer["TooltipText"]" TooltipText="This is a Tooltip" TooltipPlacement="Placement.Top" TooltipTrigger="hover" />
    </div>
    <div class="col">
        <Tooltip Trigger="hover" Title="This is a Tooltip">
            <Button Text="@Localizer["TooltipDisabledText"]" IsDisabled="true" />
        </Tooltip>
    </div>
</div>
