@inject IStringLocalizer<ButtonIcon> Localizer

<div class="row g-3">
    <div class="col-auto">
        <Button Color="Color.Primary" Icon="fa-solid fa-font-awesome" Text="@Localizer["ButtonStatus"]"></Button>
    </div>
    <div class="col-auto">
        <Button Color="Color.Info" Icon="fa-solid fa-spinner fa-spin fa-fw" Text="@Localizer["ButtonProgress"]"></Button>
    </div>
</div>
