@inject IStringLocalizer<ButtonColor> Localizer

<div class="btn-group" role="group">
    <Button Color="Color.Primary">@Localizer["ButtonOne"]</Button>
    <Button Color="Color.Success">@Localizer["ButtonTwo"]</Button>
</div>

@code {
    private ShareButtonContext Context=new ShareButtonContext() { Text = "Learn", Title = "test Title", Url = "https://www.blazor.zone" };
}
