@inject IStringLocalizer<ButtonColor> Localizer

<div class="btn-group" role="group">
    <Button Color="Color.Primary">@Localizer["ButtonOne"]</Button>
    <Button Color="Color.Success">@Localizer["ButtonTwo"]</Button>
</div>
