<div class="row g-3">
    <div class="col-12">
        <Progress Value="0"></Progress>
    </div>
    <div class="col-12">
        <Progress Value="25"></Progress>
    </div>
    <div class="col-12">
        <Progress Value="50"></Progress>
    </div>
    <div class="col-12">
        <Progress Value="75"></Progress>
    </div>
    <div class="col-12">
        <Progress Value="100"></Progress>
    </div>
</div>
