@namespace BootstrapBlazor.Components
@inherits FooterBase

<footer @attributes="@AdditionalAttributes" class="@ClassName">
    <div class="footer-text">
        <span>@Text</span>
    </div>
    <GoTop Target="@Target"></GoTop>
</footer>
