@namespace BootstrapBlazor.Components
@inherits FooterBase

<footer class="footer" @attributes="@AdditionalAttributes">
    <div class="footer-text">
        <span>@Text</span>
    </div>
    <GoTop Target="@Target"></GoTop>
</footer>
