@page "/ai-chat"
@inject IStringLocalizer<Chats> Localizer

<h3>@Localizer["ChatsTitle"]</h3>

<h4>@Localizer["ChatsDescription"]</h4>

<DemoBlock Title="@Localizer["ChatNormalTitle"]" Introduction="@Localizer["ChatNormalIntro"]" Name="Normal" Demo="typeof(Samples.AzureOpenAI.AzureOpenAIChat)" ShowCode="false" />
