@namespace BootstrapBlazor.Server.Components.Samples.Tutorials

<div class="bb-contributor">
    <img src="@Contributor.Avatar" />
    <div class="bb-contributor-main">
        <div class="bb-contributor-item">
            <label>姓名：</label>
            <span>@Contributor.Name</span>
        </div>
        <div class="bb-contributor-item">
            <label>姓名：</label>
            <span>@Contributor.Description</span>
        </div>
    </div>
</div>

