@namespace BootstrapBlazor.Server.Components.Samples.Tutorials
@page "/tutorials/online-sheet"

<div class="bb-online-sheet-demo">
    <UniverSheet @ref="_sheetExcel" Data="@_data" Lang="@System.Globalization.CultureInfo.CurrentUICulture.Name" OnReadyAsync="OnReadyAsync"></UniverSheet>
</div>
