@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

<div @attributes="AdditionalAttributes" id="@Id" class="@ClassString" data-bb-mode="@ModeString" data-bb-global="@GlobalString">
    @ChildContent
</div>
