@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

@if (!string.IsNullOrEmpty(Text))
{
    <div id="@Id"
         class="bb-marquee" style="background-color:@BackgroundColor;color:@Color;font-size:@($"{FontSize}px")">
        <span class="bb-marquee-text" style="animation-duration:@($"{Duration}s");animation-name:@DirecTion.ToDescriptionString();">@Text</span>
    </div>
}
