@namespace BootstrapBlazor.Components

<div class="marquee"
     style="font-size:@fontSize">
    <span>@Text</span>
</div>

@code {
    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public Color Color { get; set; }

    [Parameter]
    public Color BackgroundColor { get; set; }

    [Parameter]
    public int FontSize { get; set; } = 72;

    [Parameter]
    public int Speed { get; set; } = 14;

    private string fontSize { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        fontSize = $"{FontSize}px";
    }


}
