@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

@if (!string.IsNullOrEmpty(Text))
{
    <div @attributes="AdditionalAttributes" id="@Id"
         class="@BoxClassString" style="background-color:@BackgroundColor;color:@Color;font-size:@($"{FontSize}px");">
        <span class="@TextClassString" style="animation-duration:@($"{Duration}s");animation-name:@DirecTion.ToDescriptionString();">@Text</span>
    </div>
}
