@namespace BootstrapBlazor.Components

@if (!string.IsNullOrEmpty(Text))
{
    <div class="bb-marquee">
        <span class="bb-marquee-text">@Text</span>
    </div>
}

@code {
    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public string Color { get; set; } = "black";

    [Parameter]
    public string BackgroundColor { get; set; } = "white";

    [Parameter]
    public int FontSize { get; set; } = 72;

    [Parameter]
    public int Speed { get; set; } = 14;

    private string fontSize { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        fontSize = $"{FontSize}px";
    }


}
