@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

@if (!string.IsNullOrEmpty(Text))
{
    <div id="@Id"
         class="bb-marquee" style="background-color:@BackgroundColor;color:@Color;font-size:@($"{FontSize}px")">
        <span class="bb-marquee-text" style="animation-duration:@($"{Speed}s")">@Text</span>
    </div>
}

@code {
    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public string Color { get; set; } = "black";

    [Parameter]
    public string BackgroundColor { get; set; } = "white";

    [Parameter]
    public int FontSize { get; set; } = 72;

    [Parameter]
    public int Speed { get; set; } = 14;

}
