@page "/guide/animated-tour"
@inject IStringLocalizer<Index> Localizer

<DemoBlock Title="@Localizer["FocusGuideNormalTitle"]"
           Introduction="@Localizer["FocusGuideNormalIntro"]"
           Name="Normal">
    <section ignore class="bb-guid1">
        <div class="row g-2">
            <div class="col-12 col-sm-6">
                <BootstrapInputGroup>
                    <BootstrapInput TValue="string"></BootstrapInput>
                    <Button Icon="fa-solid fa-magnifying-glass"></Button>
                </BootstrapInputGroup>
            </div>
            <div class="col-12">
                <Button OnClickWithoutRender="OnStart" Text="Start"></Button>
            </div>
        </div>
    </section>

    <FocusGuide @ref="_guide1" Config="_config1">
        <FocusGuideStep Selector="li:has(.fa-person-chalkboard)">
            <FocusGuidePopover Title="高亮向导组件演示" Description="这里是菜单，点击后右侧面板出现详细示例" ShowProgress="true"></FocusGuidePopover>
        </FocusGuideStep>
        <FocusGuideStep Selector=".demo-block">
            <FocusGuidePopover Title="高亮向导组件演示" Description="这里是示例区域，此区域内展示具体例子" ShowProgress="true"></FocusGuidePopover>
        </FocusGuideStep>
        <FocusGuideStep Selector=".bb-guid1">
            <FocusGuidePopover Title="高亮向导组件演示" Description="这里是示例区域" ShowProgress="true"></FocusGuidePopover>
        </FocusGuideStep>
    </FocusGuide>
</DemoBlock>
