<div class="row g-3 skeleton-demo">
    <div class="col-4">
        <SkeletonAvatar Round="false" />
    </div>
    <div class="col-4">
        <SkeletonAvatar />
    </div>
    <div class="col-4">
        <SkeletonAvatar Circle="true" />
    </div>
</div>
