@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase
@typeparam TValue

<div @attributes="@AdditionalAttributes" class="@RepeaterClassString">

    @if (HeaderTemplate != null)
    {
        <div class="repeater-header">
            @HeaderTemplate
        </div>
    }

    @if (BodyTemplate != null)
    {
        <div class="repeater-body">
            @BodyTemplate.Invoke(Items)
        </div>
    }

    @if (FooterTemplate != null)
    {
        <div class="repeater-footer">
            @FooterTemplate
        </div>
    }
</div>
