@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase
@typeparam TValue

<div @attributes="@AdditionalAttributes" class="@RepeaterClassString">
    @if (ChildContent != null)
    {
        @foreach (var item in Items)
        {
            <div @key="item">@ChildContent(item)</div>
        }
    }
</div>
