@namespace BootstrapBlazor.Components
@inherits IdComponentBase

<div @attributes="AdditionalAttributes" class="@ClassString" role="toolbar" aria-label="toolbar" style="@StyleString">
    @ChildContent
</div>
