@inherits DockViewIcon

<div @attributes="@AdditionalAttributes" class="@ClassString" title="@Localizer[IconName]">
    <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="dropdown"><use href="@Href"></use></svg>
    <ul class="dropdown-menu"></ul>
</div>
