@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader]

<div @attributes="@AdditionalAttributes" id="@Id" class="@ClassString" role="group">
    <div class="split-pane split-left" style="@StyleString">
        @FirstPaneTemplate
    </div>
    <div class="split-pane split-right">
        @SecondPaneTemplate
    </div>
    <div class="split-pane split-bar">
        <button tabindex="-1" type="button" class="split-bar-arrow split-bar-arrow-left"></button>
        <div class="split-bar-handler">
            <div></div>
            <div></div>
        </div>
        <button tabindex="-1" type="button" class="split-bar-arrow split-bar-arrow-right"></button>
    </div>
</div>
