@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader(JSObjectReference = true)]

<div @attributes="@AdditionalAttributes" id="@Id" class="@ClassString" role="group">
    <div class="split-pane split-left" style="@StyleString">
        @FirstPaneTemplate
    </div>
    <div class="split-pane split-right">
        @SecondPaneTemplate
    </div>
    <div class="split-pane split-bar">
        @if (IsCollapsible)
        {
            <button tabindex="-1" type="button" class="split-bar-arrow split-bar-arrow-left"></button>
        }
        @if (ShowBarHandle)
        {
            <div class="split-bar-handler">
                <div></div>
                <div></div>
            </div>
        }
        @if (IsCollapsible)
        {
            <button tabindex="-1" type="button" class="split-bar-arrow split-bar-arrow-right"></button>
        }
    </div>
</div>
