@namespace BootstrapBlazor.Components
@inherits PopupComponentBase
@inject ToastService ToastService

<div @attributes="@AdditionalAttributes" class="@ClassString" style="@StyleString" @ref="PopupElement">
    <CascadingValue Value="this" IsFixed="true">
        @foreach (var toast in Toasts.Values)
        {
            @toast
        }
    </CascadingValue>
</div>
