@namespace BootstrapBlazor.Components
@inherits ToastBase

<div style="@StyleString">
    <CascadingValue Value="this" IsFixed="true">
        @foreach (var toast in Toasts.Values)
        {
            @toast
        }
    </CascadingValue>
</div>
