@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div class="handwritten" @ref="HandwrittenElement">
    <div class="hw-body">
    </div>
    <div class="hw-buttons">
        <button class="btn btn-secondary">@ClearButtonText</button>
        <button class="btn btn-primary">@SaveButtonText</button>
    </div>
</div>
