@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div tabindex="-1" class="bb-viewer-wrapper active" style="z-index: @ZIndex;">
    <div class="bb-viewer-mask"></div>
    <div class="bb-viewer-canvas">
        <img src="@GetFirstImageUrl()" class="bb-viewer-img" style="transform: scale(1) rotate(0deg); margin-left: 0px; margin-top: 0px;">
    </div>
    <span class="bb-viewer-btn bb-viewer-close">
        <span></span>
    </span>
    @if (ShowButtons)
    {
        <span class="bb-viewer-btn bb-viewer-prev">
            <i class="fa fa-angle-left fa-2x"></i>
        </span>
        <span class="bb-viewer-btn bb-viewer-next">
            <i class="fa fa-angle-right fa-2x"></i>
        </span>
    }
    <div class="bb-viewer-btn bb-viewer-actions">
        <div class="bb-viewer-actions-inner">
            <i class="fa fa-search-minus"></i>
            <i class="fa fa-search-plus"></i>
            <i class="bb-viewer-actions-divider"></i>
            <span class="bb-viewer-full-screen"></span>
            <i class="bb-viewer-actions-divider"></i>
            <i class="fa fa-rotate-left"></i>
            <i class="fa fa-rotate-right"></i>
        </div>
    </div>
</div>
