@inherits LayoutComponentBase

<BootstrapBlazorRoot>
    <Header></Header>
    <main>
        @Body
    </main>
</BootstrapBlazorRoot>

<NetworkMonitor OnNetworkStateChanged="OnNetworkStateChanged"></NetworkMonitor>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
