@inherits LayoutComponentBase

<BootstrapBlazorRoot>
    @if (_init)
    {
        <Header></Header>
        <main>
            @Body
        </main>
    }
</BootstrapBlazorRoot>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
	RenderFragment RenderVote =>
	@<div>
		<div style="font-size: 48px; text-align: center;">🏆</div>
		<p style="font-weight: bold;">我正在参加 Gitee 2025 最受欢迎的开源软件投票活动，快来给我投票吧！</p>
		<div style="display: flex; justify-content: space-around;" id="bb-gitee-vote">
			<a href="https://gitee.com/activity/2025opensource?ident=I6MYBB" target="_blank" style="font-weight: bold; padding: 6px 12px; border-radius: var(--bs-border-radius); background: linear-gradient(135deg, #667eea, #764ba2); color: #fff;">🚀 必须投一票</a>
			<a href="https://gitee.com/activity/2025opensource?ident=I6MYBB" target="_blank" class="text-muted" style="padding: 6px 12px;" title="老六你居然不投票">我知道了</a>
		</div>
	</div>;
}
