@inherits LayoutComponentBase
@layout BaseLayout

<section class="section">
    <aside class="sidebar">
        <div class="sidebar-title">
            <a href="/">
                <BBLogo />
            </a>
            <span class="sidebar-text">Bootstrap Blazor</span>
        </div>
        <NavMenu />
        <div class="sidebar-bar">
            <div class="sidebar-body"></div>
        </div>
    </aside>

    <section class="main">
        <Wwads />
        @Body
    </section>

    <ThemeMode />

    <LinkButton TooltipPlacement="Placement.Left" ButtonStyle="ButtonStyle.Circle" Color="Color.None" TooltipText="@ChatTooltip" class="btn-fade btn-chat" Url="./ai-chat" Icon="fa-solid fa-comments"></LinkButton>

    <ThemeChooser></ThemeChooser>

    <LinkButton TooltipPlacement="Placement.Left" ButtonStyle="ButtonStyle.Circle" Color="Color.None" TooltipText="@Title" class="btn-fade btn-update" Url="@WebsiteOption.CurrentValue.WikiUrl" Target="_blank" ImageUrl="./images/log.svg"></LinkButton>
</section>
