@inherits LayoutComponentBase
@layout BaseLayout

<section class="section">
    <aside class="sidebar">
        <div class="sidebar-title">
            <a href="/">
                <BBLogo />
            </a>
            <span class="sidebar-text">Bootstrap Blazor</span>
        </div>
        <NavMenu />
        <div class="sidebar-bar">
            <div class="sidebar-body"></div>
        </div>
    </aside>

    <section class="main">
        <Wwads />
        @Body
    </section>
</section>
