@inherits LayoutComponentBase
@layout BaseLayout

<section class="section">
    <aside class="sidebar">
        <div class="sidebar-title">
            <a href="/">
                <BBLogo />
            </a>
            <span class="sidebar-text">Bootstrap Blazor</span>
        </div>
        <NavMenu />
        <LayoutSplitBar Min="250" Max="380" ContainerSelector=".section"></LayoutSplitBar>
    </aside>

    <section class="main">
        <Wwads />
        @Body
    </section>

    <DialButton DialMode="DialMode.Radial" Icon="fa-solid fa-gear" Radius="100" Placement="Placement.BottomEnd" class="bb-dial-gear">
        <ButtonTemplate>
            <div class="btn-circle btn-fade dial-button-gear">
                <img src="@WebsiteOption.Value.GetAssetUrl("images/logo.png")" alt="logo" />
            </div>
        </ButtonTemplate>
        <ChildContent>
            <DialButtonItem>
                <ThemeMode></ThemeMode>
            </DialButtonItem>
            <DialButtonItem>
                <Tooltip Title="@ChatTooltip" Placement="Placement.Left" class="btn btn-circle btn-fade btn-dial-item d-flex">
                    <a href="./ai-chat">
                        <i class="fa-solid fa-comments"></i>
                    </a>
                </Tooltip>
            </DialButtonItem>
            <DialButtonItem>
                <ThemeChooser></ThemeChooser>
            </DialButtonItem>
            <DialButtonItem>
                <Tooltip Title="@ChatTooltip" Placement="Placement.Left" class="btn btn-circle btn-fade btn-dial-item d-flex">
                    <a href="@WebsiteOption.Value.WikiUrl" target="_blank">
                        <i class="fa-solid fa-file-circle-check"></i>
                    </a>
                </Tooltip>
            </DialButtonItem>
        </ChildContent>
    </DialButton>
</section>
