@inject IStringLocalizer<DropdownSize> Localizer

<div class="row g-3">
    <div class="col-6 col-sm-4 col-md-3 col-xl-auto">
        <Dropdown TValue="string" Items="Items" Size="Size.ExtraSmall" />
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-xl-auto">
        <Dropdown TValue="string" Items="Items" Size="Size.Small" />
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-xl-auto">
        <Dropdown TValue="string" Items="Items" Size="Size.Medium" />
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-xl-auto">
        <Dropdown TValue="string" Items="Items" Size="Size.Large" />
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-xl-auto">
        <Dropdown TValue="string" Items="Items" Size="Size.ExtraLarge" />
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-xl-auto">
        <Dropdown TValue="string" Items="Items" Size="Size.ExtraExtraLarge" />
    </div>
</div>

@code {
    private List<SelectedItem> Items { get; set; } = new List<SelectedItem> { };

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();

        Items = new List<SelectedItem>
        {
            new SelectedItem{ Text=Localizer["Item1"], Value="0"},
            new SelectedItem{ Text=Localizer["Item2"], Value="1"},
            new SelectedItem{ Text=Localizer["Item3"], Value="2"},
        };
    }
}
