<ContextMenuZone>
    <ContextMenuList></ContextMenuList>
    <ContextMenu>
        <div class="dropdown-item">拷贝</div>
        <div class="dropdown-item">粘贴</div>
    </ContextMenu>
</ContextMenuZone>

@code {

}
