@inject IStringLocalizer<Foo> Localizer

<ContextMenuZone>
    <Table TItem="Foo" Items="@Items.Take(3)">
        <TableColumns>
            <TableColumn @bind-Field="@context.DateTime" Width="180" />
            <TableColumn @bind-Field="@context.Name" />
            <TableColumn @bind-Field="@context.Address" />
        </TableColumns>
    </Table>
    <ContextMenu>
        <div class="dropdown-item"><i class="fa-solid fa-copy"></i><span>拷贝</span></div>
        <div class="dropdown-item"><i class="fa-solid fa-paste"></i><span>粘贴</span></div>
    </ContextMenu>
</ContextMenuZone>

@code {
    [NotNull]
    private List<Foo>? Items { get; set; }

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        Items = Foo.GenerateFoo(Localizer);
    }
}
