@inject IStringLocalizer<Foo> Localizer

<ContextMenuZone>
    <Table TItem="Foo" Items="@Items.Take(3)">
        <TableColumns>
            <TableColumn @bind-Field="@context.DateTime" Width="180" />
            <TableColumn @bind-Field="@context.Name" />
            <TableColumn @bind-Field="@context.Address" />
        </TableColumns>
    </Table>
    <ContextMenu>
        <div class="cm-menu">
            <div>拷贝</div>
            <div>粘贴</div>
        </div>
    </ContextMenu>
</ContextMenuZone>

@code {
    [NotNull]
    private List<Foo>? Items { get; set; }

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        Items = Foo.GenerateFoo(Localizer);
    }
}
