@namespace BootstrapBlazor.Components
@inherits ConsoleBase

<div class="card">
    <div class="card-header d-flex">
        <span class="flex-fill">系统监控</span>
        <span class="light flash green" data-toggle="tooltip" title="通讯指示灯"></span>
    </div>
    <div class="card-body console-body" style="@BodyStyleString">
        <div class="console-window">
            @foreach (var text in Items)
            {
                <div>@text</div>
            }
        </div>
    </div>
    <div class="@FooterClassString">
        <button type="button" class="btn btn-secondary" @onclick="@ClearConsole">
            <i class="fa fa-times"></i>
            <span>清屏</span>
        </button>
    </div>
</div>
