<div class="row g-3">
    <div class="col-12 col-sm-6">
        <Select TValue="string" Items="Items" ShowSearch="true" />
    </div>
    <div class="col-12 col-sm-6">
        <Select TValue="string" Items="StringItems" ShowSearch="true" />
    </div>
</div>

@code {
    private IEnumerable<SelectedItem> Items { get; set; } = new[]
    {
        new SelectedItem ("Beijing", "北京"),
        new SelectedItem ("Shanghai", "上海") { Active = true },
    };

    private readonly IEnumerable<SelectedItem> StringItems = new[]
    {
        new SelectedItem ("1", "1"),
        new SelectedItem ("12", "12"),
        new SelectedItem ("123", "123"),
        new SelectedItem ("1234", "1234"),
        new SelectedItem ("a", "a"),
        new SelectedItem ("ab", "ab"),
        new SelectedItem ("abc", "abc"),
        new SelectedItem ("abcd", "abcd"),
        new SelectedItem ("abcde", "abcde")
    };
}
