<div class="row">
    <div class="col-12 col-sm-6">
        <Select TValue="string" Items="Items">
            <ItemTemplate>
                <div class="dropdown-item-demo">
                    <i class="fa-solid fa-font-awesome"></i>
                    <span>@context.Text</span>
                    <i class="fa-solid fa-star"></i>
                </div>
            </ItemTemplate>
        </Select>
    </div>
</div>

@code {
    private IEnumerable<SelectedItem> Items { get; set; } = new[]
    {
        new SelectedItem ("Beijing", "北京"),
        new SelectedItem ("Shanghai", "上海") { Active = true },
    };
}
