<div class="row">
    <div class="col-12 col-sm-6 overflow-hidden">
        <Select TValue="string" Items="Items" IsPopover="true" ShowSearch="true" />
    </div>
</div>

@code {
    private IEnumerable<SelectedItem> Items { get; set; } = new[]
    {
        new SelectedItem ("Beijing", "北京"),
        new SelectedItem ("Shanghai", "上海") { Active = true },
    };
}
