<div class="row g-3">
    <div class="col-12 col-sm-6">
        <Select Color="Color.Primary" Items="GuidItems" @bind-Value="CurrentGuid" />
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-control">@CurrentGuid</div>
    </div>
</div>

@code {
    private Guid CurrentGuid { get; set; }

    private readonly IEnumerable<SelectedItem> GuidItems = new SelectedItem[]
    {
        new SelectedItem(Guid.NewGuid().ToString(), "Guid1"),
        new SelectedItem(Guid.NewGuid().ToString(), "Guid2")
    };
}
