<div style="width: 120px;">
    <Select Color="Color.Primary" IsClearable="true" Items="Items" Value="Model.Name"></Select>
</div>

@code {
    private Foo Model { get; set; } = new Foo();

    private IEnumerable<SelectedItem> Items { get; set; } = new[]
    {
        new SelectedItem ("Beijing", "北京"),
        new SelectedItem ("Shanghai", "上海")
    };
}
