@page "/ant-design-icon"
@inject IStringLocalizer<AntDesignIcons> Localizer

<h3>@Localizer["AntDesignIconTitle"]</h3>

<h4>@Localizer["AntDesignIconDescription"]</h4>

<PackageTips Name="BootstrapBlazor.AntDesignIcon" />

<AntDesignIconList CopiedTooltipText="@Localizer["CopiedTooltipText"]" />
