@page "/icon-park"
@inject IStringLocalizer<IconParks> Localizer

<h3>@Localizer["IconParkTitle"]</h3>

<h4>@Localizer["IconParkDescription"]</h4>

<PackageTips Name="BootstrapBlazor.IconPark" />

<ByteDanceIconList CopiedTooltipText="@Localizer["CopiedTooltipText"]" />
