@inject IStringLocalizer<SpeechWaves> Localizer

<div class="row g-3">
    <div class="col-12">
        <SpeechWave Show="IsShow" />
    </div>
    <div class="col-12">
        <Button Text="@ButtonText" OnClick="OnClickShow"></Button>
    </div>
</div>

@code {
    private bool IsShow { get; set; }

    private string ButtonText => IsShow ? Localizer["ValueButtonText1"] : Localizer["ValueButtonText2"];

    private void OnClickShow()
    {
        IsShow = !IsShow;
    }
}
