@inherits LayoutComponentBase

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row">
    <div class="header-img navbar-brand">
        <img src="_content/BootstrapBlazor.Shared/images/brand.png" />
        <span>Bootstrap Blazor</span>
    </div>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link " href="index">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="introduction">文档</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="components">组件</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://blazor.sdgxgz.com/" title="WebAssembly Server">server</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://wasm.sdgxgz.com/" title="WebAssembly Client">wasm</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
            <a class="nav-link p-2" href="https://github.com/ArgoZhang/BootstrapBlazor"><img src="_content/BootstrapBlazor.Shared/images/git.svg" /></a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2" href="https://gitee.com/LongbowEnterprise/BootstrapBlazor"><img src="_content/BootstrapBlazor.Shared/images/gitee.svg" /></a>
        </li>
    </ul>
    <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" target="_blank" href="https://gitee.com/LongbowEnterprise/BootstrapBlazor/repository/archive/master.zip">下载</a>
</header>

@Body
