@inherits LayoutComponentBase
@layout BaseLayout

<div class="dock-layout">
    <aside>
        <ul>
            <li>
                <a href="./dockview-row" class="nav-link">行布局</a>
            </li>
            <li>
                <a href="./dockview-col" class="nav-link">列布局</a>
            </li>
            <li>
                <a href="./dockview-stack" class="nav-link">并列布局</a>
            </li>
            <li>
                <a href="./dockview-complex" class="nav-link">组合布局</a>
            </li>
            <li>
                <a href="./dockview-nest" class="nav-link">嵌套布局</a>
            </li>
        </ul>
    </aside>
    <main>
        @Body
    </main>
</div>
