@inherits LayoutComponentBase
@layout BaseLayout

@Body

<footer class="home-footer">
    <div>
        <h4>相关作品</h4>
        <ul>
            <li>
                <a class="footer-link" href="https://gitee.com/LongbowEnterprise/BootstrapAdmin" target="_blank">Bootstrap Admin</a>
            </li>
            <li>
                <a class="footer-link" href="https://gitee.com/LongbowEnterprise/SliderCaptcha" target="_blank">滑块验证码</a>
            </li>
            <li>
                <a class="footer-link" href="https://gitee.com/LongbowEnterprise/longbow-select" target="_blank">Longbow-select</a>
            </li>
            <li>
                <a class="footer-link" href="https://gitee.com/LongbowEnterprise/longbow-validate" target="_blank">Longbow-validate</a>
            </li>
        </ul>
    </div>
    <div>
        <h4>友情链接</h4>
        <ul>
            <li>
                <a class="footer-link" href="https://ant-design-blazor.github.io/" target="_blank">Ant design of blazor</a>
            </li>
            <li>
                <a class="footer-link" href="https://dotnet9.com/" target="_blank">Dotnet9</a>
            </li>
            <li>
                <a class="footer-link" href="http://www.mrhuo.com/" target="_blank">M&J</a>
            </li>
        </ul>
    </div>
    <div>
        <h4>社区</h4>
        <ul>
            <li>
                <div class="footer-link">贡献指南</div>
            </li>
            <li>
                <div class="footer-link">加入我们</div>
            </li>
            <li>
                <div class="footer-link">联系方式</div>
            </li>
        </ul>
    </div>
    <div>
        <h4>特别鸣谢</h4>
        <ul>
            <li>
                <div class="footer-link">上海智通建设发展股份有限公司</div>
            </li>
        </ul>
    </div>
</footer>
