@inherits LayoutComponentBase
@layout BaseLayout

<section class="section">
    <aside class="sidebar">
        <div class="sidebar-title">
            <BBLogo />
            <span class="sidebar-text">Bootstrap Blazor</span>
        </div>
        <NavMenu />
    </aside>

    <section class="main">
        <Wwads />
        @Body
    </section>
</section>
