@inherits LayoutComponentBase
@layout BaseLayout

<section class="section">
    <div class="sidebar">
        <div class="sidebar-title">
            <img class="bb-icon" src="_content/BootstrapBlazor.Shared/images/logo.png" />
            <span>Bootstrap Blazor</span>
        </div>
        <NavMenu />
    </div>

    <div class="main">
        <div class="content p-3">
            <ErrorLogger>
                @Body
            </ErrorLogger>
        </div>
    </div>
</section>
