@inherits LayoutComponentBase
@layout BaseLayout

<section class="section">
    <Scroll class="sidebar">
        <NavMenu />
    </Scroll>

    <div class="main">
        <div class="content p-3">
            <BlazorLogger>
                @Body
            </BlazorLogger>
        </div>
    </div>
</section>
