@inject NavigationManager Navigator

<div class="top-row pl-4 navbar navbar-dark d-flex d-md-none">
    <a class="navbar-brand" href="">Bootstrap Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <Menu Items="@Menus" IsVertical="true" OnClick="@OnClickMenu" />
</div>
