@inherits WebSiteModuleComponentBase

<div class="navbar navbar-dark d-flex d-md-none px-3" id="@Id">
    <a class="navbar-brand" href="">Bootstrap Blazor</a>
    <button class="navbar-toggler" aria-label="toggle">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="sidebar-content collapse d-md-block">
    <div class="scroll">
        <Menu Items="@Menus" IsVertical="true" OnClick="@OnClickMenu" />
    </div>
</div>
