@inherits LayoutComponentBase
@layout PracticeLayout

<div class="container">
    <div class="row">
        <div class="col-12">
            <Card class="shadow-lg border-0 my-5">
                <BodyTemplate>
                    <CascadingValue Value="Model" IsFixed="true">
                        @Body
                    </CascadingValue>
                </BodyTemplate>
            </Card>
        </div>
    </div>
</div>

@code {
    @code {
        [NotNull]
        private LoginModel? Model { get; set; } = new();
    }
}
