@inherits LayoutComponentBase
@layout BaseLayout

<section class="section">
    <div class="sidebar">
        <div class="sidebar-title">
            <BBLogo />
            <span class="sidebar-text">Bootstrap Blazor</span>
        </div>
        <PracticeNavMenu />
        <Wwads />
    </div>

    <div class="main">
        @Body
    </div>
</section>
