@inherits LayoutComponentBase
@layout BaseLayout

<section class="section">
    <div class="sidebar">
        <div class="sidebar-title">
            <BBLogo />
            <span class="sidebar-text">Bootstrap Blazor</span>
        </div>
        <PracNavMenu />
    </div>

    <div class="main">
        <Wwads />
        @Body
    </div>
</section>
