@inject IStringLocalizer<CircleChildContent> Localizer

<Circle Width="250" Value="75" Color="Color.Success" StrokeWidth="10" ShowProgress="false">
    <div class="circle-demo">
        <h1>42,001,776</h1>
        <p>@Localizer["ChildContentP1"]</p>
        <span>
            @Localizer["ChildContentSpan"]
            <i>75%</i>
        </span>
    </div>
</Circle>
