@namespace BootstrapBlazor.Components
@inherits TabBase

<div class="@ClassName" @ref="TabElement">
    <div class="tabs-header is-top">
        <div class="tabs-nav-wrap is-top">
            <div class="tabs-nav-scroll">
                <div role="tablist" class="tabs-nav is-top">
                    @if (!IsCard && !IsBorderCard)
                    {
                        <div class="tabs-active-bar is-top"></div>
                    }
                    @if (Items != null)
                    {
                        foreach (var item in Items)
                        {
                            @RenderItems(item)
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-content">
        <div role="tabpanel" id="pane-first" aria-labelledby="tab-first" class="tab-pane" style="display: none;" aria-hidden="true">用户管理</div>
        <div role="tabpanel" id="pane-second" aria-labelledby="tab-second" class="tab-pane" style="display: none;" aria-hidden="true">配置管理</div>
        <div role="tabpanel" id="pane-third" aria-labelledby="tab-third" class="tab-pane" style="display: none;" aria-hidden="true">角色管理</div>
        <div role="tabpanel" id="pane-fourth" aria-labelledby="tab-fourth" class="tab-pane" style="">定时任务补偿</div>
    </div>
</div>