@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase
@inject SwalService Swal

<div class="swal">
    <Modal @ref="ModalContainer" IsKeyboard="false" OnCloseAsync="OnCloseAsync">
        @RenderDialog()
    </Modal>
</div>
