@namespace BootstrapBlazor.Components
@inherits RadioBase<SelectedItem>

<div class="form-radio-group">
    @foreach (var item in DataItems)
    {
        <RadioElement Value="@item" DisplayText="@item.Text" IsDisabled="@IsDisabled" OnStateChanged="@OnChanged" />
    }
</div>