@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<button @attributes="AdditionalAttributes" class="@ClassString" type="button" data-bs-toggle="collapse"
        data-bs-target="@Target" aria-expanded="false" aria-label="Toggle navigation">
    @if (ChildContent == null)
    {
        <span class="navbar-toggler-icon"></span>
    }
    else
    {
        @ChildContent
    }
</button>
