@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<li @attributes="AdditionalAttributes">
    <a class="dropdown-item" href="@Url" target="@Target">
        @ChildContent
    </a>
</li>
