@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<nav @attributes="@AdditionalAttributes" class="@ClassString">
    <div class="container-fluid">
        @ChildContent
    </div>
</nav>
