<AutoComplete Items="@StaticItems">
    <ItemTemplate>
        <div class="d-flex align-items-center">
            <i class="fa-solid fa-bell"></i>
            <span class="flex-fill ms-2">@context</span>
        </div>
    </ItemTemplate>
</AutoComplete>

@code {
    private static List<string> StaticItems => new() { "1", "12", "123", "1234", "12345", "123456", "abc", "abcdef", "ABC", "aBcDeFg", "ABCDEFG" };
}
