@inject IStringLocalizer<AutoCompleteNoDataTip> Localizer

<p>@Localizer["Description"]</p>

<div style="width: 200px;">
    <AutoComplete Items="@StaticItems" NoDataTip="@Localizer["NoDataTip"]" />
</div>

@code {
    private static List<string> StaticItems => new() { "1", "12", "123", "1234", "12345", "123456", "abc", "abcdef", "ABC", "aBcDeFg", "ABCDEFG" };
}
