@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

<IntersectionObserver OnIntersecting="OnIntersecting" Threshold="1" AutoUnobserveWhenIntersection="false">
    <IntersectionObserverItem>
        <div class="bb-intersection-loading">
            @if (CanLoading)
            {
                if (LoadingTemplate != null)
                {
                    @LoadingTemplate
                }
                else
                {
                    <Spinner></Spinner>
                }
            }
            else if (NoMoreTemplate != null)
            {
                @NoMoreTemplate
            }
            else if (!string.IsNullOrEmpty(NoMoreText))
            {
                @NoMoreText
            }
        </div>
    </IntersectionObserverItem>
</IntersectionObserver>
