@page "/collapses"

<Block Title="折叠" Introduction="常用的折叠。" CodeFile="collapse.1.txt">
    <div class="form-inline">
        <div class="form-group col-12">
            <Collapse>学习让我快乐</Collapse>
        </div>
        <div class="form-group col-12">
            <Collapse Color="Color.Danger">学习让我进步</Collapse>
        </div>
    </div>
</Block>

<Block Title="是否折叠" Introduction="通过 <code>IsCollapsed</code> 设置是否对折叠面板展开" CodeFile="collapse.2.txt">
    <div class="form-inline">
        <div class="form-group col-12">
            <Collapse IsCollapsed="false">学习让我快乐</Collapse>
        </div>
    </div>
</Block>

<Block Title="是否禁止按钮" Introduction="通过 <code>IsDisabled</code> 设置是否禁止按钮" CodeFile="collapse.3.txt">
    <div class="form-inline">
        <div class="form-group col-12">
            <Collapse IsDisabled="true" IsCollapsed="false">学习让我快乐</Collapse>
        </div>
    </div>
</Block>

<Block Title="CollapsedText|ExpandText 显示文字" Introduction="通过 <code>CollapsedText|ExpandText</code> 设置 展开|折叠的显示文字" CodeFile="collapse.4.txt">
    <div class="form-inline">
        <div class="form-group col-12">
            <Collapse ExpandedText="点击我折叠" CollapsedText="点击我展开">学习让我快乐</Collapse>
        </div>
    </div>
</Block>

<AttributeTable Items="@GetAttributes()" />
