@page "/echarts"

<h3>EChart 图表</h3>

<h4>通过给定数据，绘画各种图表的组件</h4>

<p>本组件依赖于 <code>EChar.js</code>，使用本组件时需要引用其相应对的 <code>javascript</code> 文件</p>

<p>使用本组件后台数据秩序在 <code>OnInit</code> 回调委托中进行数据获取即可</p>

<Block Title="折线图" Introduction="使用 <code>OnInit</code> 回调委托方法，对初始化数据进行赋值后，即可进行绘图操作" CodeFile="echart.1.txt">
    <EChart Height="280" OnInit="@OnInit" />
</Block>

<p class="mt-1">更多图表正在发开中 ...</p>