@page "/"
@page "/install"

<h3>安装</h3>

<h4>Git</h4>

<p>Git 工具有很多种大家比较熟悉的，这里我介绍两款 Git 客户端工具</p>

<div class="row mb-sm-3">
    <div class="git col-12 col-sm-6 mb-3 mb-sm-0">
        <a class="git-fork" href="https://fork.dev/" target="_blank">
            <img src="images/fork.png" />
            <span>Fork</span>
        </a>
    </div>
    <div class="git col-12 col-sm-6 mb-3 mb-sm-0">
        <a href="https://tortoisegit.org/download/" target="_blank"><img src="images/tortoisegit.svg" /></a>
    </div>
</div>

<p>推荐使用 <a href="https://fork.dev">Fork</a> 工具进行安装，它能更好地和 <a href="https://visualstudio.microsoft.com/vs/getting-started/" target="_blank">Visutal Studio</a> 开发工具配合使用。</p>

<h4>Nuget 包安装</h4>

<p>使用 <a href="https://www.nuget.org/packages?q=BootstrapBlazor" target="_blank">nuget.org</a> 进行 BootstrapBlazor 组件的安装</p>

<div class="code-label">.NET CLI</div>
<code>dotnet add package BootstrapBlazor --version 3.1.0</code>

<div class="code-label">PackageReference</div>
<code>&lt;PackageReference Include="BootstrapBlazor" Version="3.1.0" /&gt;</code>

<div class="code-label">Package Manager</div>
<code>Install-Package BootstrapBlazor -Version 3.1.0</code>
