@page "/introduction"

<h3>简介</h3>

<p>BootstrapBlazor 是一套 Bootstrap 风格的 Blazor UI 组件库，可以认为是 Bootstrap 项目的 Blazor 版实现。</p>

<h3>快速上手</h3>

<h4>CSS 文件</h4>

<code>
    &lt;link rel="stylesheet" href="~/_content/BootstrapBlazor/css/bootstrap.blazor.css"&gt;
</code>

<h4>JS 文件</h4>

<code>
    &lt;script src="~/_content/BootstrapBlazor/css/bootstrap.blazor.js"&gt;&lt;/script&gt;
</code>
