@page "/tabs"

<h3>Tabs 标签页</h3>

<h4>分隔内容上有关联但属于不同类别的数据集合。</h4>

<Block Title="基础用法" Introduction="基础的、简洁的标签页。" CodeFile="tabs.1.txt">
    <Tab Items="@TabItems" />
</Block>

<Block Title="选项卡样式" Introduction="选项卡样式的标签页。" CodeFile="tabs.2.txt">
    <Tab Items="@TabItems" IsCard="true" />
</Block>

<Block Title="卡片化" Introduction="卡片化的标签页。" CodeFile="tabs.3.txt">
    <Tab Items="@TabItems" IsBorderCard="true" />
</Block>
