@page "/timelines"

<h3>Timeline 时间线</h3>

<h4>可视化地呈现时间流信息。</h4>

<Block Title="基本用法" Introduction="Timeline 可拆分成多个按照时间戳正序或倒序排列的 activity，时间戳是其区分于其他控件的重要特征，使⽤时注意与 Steps 步骤条等区分。" CodeFile="timeline.1.txt">
    <div class="row">
        <label class="text-lg-right mr-1">排序：</label>
        <Radio OnStateChanged="@OnStateChanged" Items="@items"></Radio>
    </div>
    <Timeline Items="timelineitems" Reverse="@isRevers"></Timeline>
</Block>

<Block Title="⾃定义节点样式" Introduction="可根据实际场景⾃定义节点尺⼨、颜⾊，或直接使⽤图标。" CodeFile="timeline.2.txt">
    <Timeline Items="timelineitemsColor" />
</Block>

<AttributeTable Items="GetAttributes()" />

