@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="AdditionalAttributes" class="@ClassString">
    @if (ShowImage)
    {
        @RenderChildContent()
    }
    else if (ShouldRenderPlaceHolder)
    {
        @PlaceHolderTemplate
    }
</div>

@code {
    RenderFragment RenderErrorTemplate() =>
    @<div class="bb_img_holder bb_img_error">
        <div class="bb_img_loading">
            <i class="fa fa-file-picture-o fa-2x"></i>
        </div>
    </div>;

    RenderFragment RenderPlaceHolder() =>
    @<div class="bb_img_holder">
        <div class="bb_img_loading">
            <Spinner Color="Color.Primary" />
        </div>
    </div>;
}
