@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="AdditionalAttributes" class="@ClassString">
    @if (ShowImage)
    {
        @RenderImage()
        @if (ShowPlaceHolder && !Loaded)
        {
            @if(PlaceHolderTemplate != null)
            {
                @PlaceHolderTemplate
            }
            else
            {
                <div class="bb_img_holder">
                    @if(!string.IsNullOrEmpty(PlaceHolder))
                    {
                        <div class="bb_img_loading">@PlaceHolder</div>
                    }
                </div>
            }
        }
    }
    else if(PlaceHolderTemplate != null)
    {
        @PlaceHolderTemplate
    }
    else if (ErrorTemplate != null)
    {
        @ErrorTemplate
    }
</div>
