@namespace BootstrapBlazor.Components
@inherits IdComponentBase

<span class="d-inline-block" tabindex="0" id="@Id" data-bs-toggle="tooltip">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</span>
