@inject IStringLocalizer<BootstrapBlazor.Shared.Samples.Menus> Localizer

<div class="mt-3" style="width:220px;">
    <Menu Items="@DynamicSideMenuItems" DisableNavigation="true" IsVertical="true" style="border-right: 1px solid #e6e6e6;" />
</div>
<Button Text="@Localizer["MenusDynamicButton1Text"]" OnClick="UpdateMenu" />
<Button Text="@Localizer["MenusDynamicButton2Text"]" OnClick="ResetMenu" />

@code {
    [NotNull]
    private IEnumerable<MenuItem>? DynamicSideMenuItems { get; set; }

    /// <summary>
    /// OnInitialized 方法
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        DynamicSideMenuItems = await MenusDataGerator.GetSideMenuItemsAsync(Localizer);
    }

    private async Task UpdateMenu()
    {
        DynamicSideMenuItems = await MenusDataGerator.GetIconSideMenuItemsAsync(Localizer);
    }

    private async Task ResetMenu()
    {
        DynamicSideMenuItems = await MenusDataGerator.GetSideMenuItemsAsync(Localizer);
    }
}
