@inject NavigationManager NavigationManager
@inject IStringLocalizer<EmptyTemplate> Localizer

<div>
    <Empty Image="./images/empty.svg">
        <Template>
            <Button OnClick="@(()=>NavigationManager.NavigateTo("components"))">@Localizer["TemplateIButtonText"]</Button>
        </Template>
    </Empty>
</div>
