<div>
    <Row ItemsPerRow="ItemsPerRow.Two">
        <Dropzone TItem="string" Items="@StrList1">
            <Card IsShadow="true">
                <BodyTemplate>
                    @context
                </BodyTemplate>
            </Card>
        </Dropzone>
        <Dropzone TItem="string" Items="@StrList2" CopyItem="s => new string(s)">
            <Card IsShadow="true">
                <BodyTemplate>
                    @context
                </BodyTemplate>
            </Card>
        </Dropzone>
    </Row>
</div>

@code {
    [NotNull]
    private List<string>? StrList1 { get; set; }

    [NotNull]
    private List<string>? StrList2 { get; set; }

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
        StrList1 = new List<string>()
        {
            "1",
            "2",
            "3",
            "4",
            "5"
        };
        StrList2 = new List<string>()
        {
            "6",
            "7",
            "8",
            "9",
            "10"
        };
    }
}
