@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="AdditionalAttributes" class="@ClassString">
    @if (Template != null)
    {
        <div class="empty-telemplate">
            @Template
        </div>
    }
    else
    {
        @if (!string.IsNullOrEmpty(Image))
        {
            <div class="empty-image">
                <img src="@Image">
            </div>
        }
        @if (!string.IsNullOrEmpty(Text))
        {
            <div class="empty-text">
                <span>@Text</span>
            </div>
        }
        @ChildContent
    }
</div>
