@namespace BootstrapBlazor.Components

<div class="empty">
  <div class="empty-image">
    <embed src="@Image" type="" width="@Width" height="@Height">
  </div>
  <div class="empty-description">
    <span>@Description</span>
  </div>
  @if (Telemplate != null)
  {
    <div class="empty-telemplate">
      @Telemplate
    </div>
  }
</div>
