@namespace BootstrapBlazor.Components

<div class="empty">
    @if (!string.IsNullOrEmpty(Image))
    {
        <div class="empty-image">
            <img src="@Image" width="@Width" height="@Height">
        </div>
    }
    @if (!string.IsNullOrEmpty(Text))
    {
        <div class="empty-text">
            <span>@Text</span>
        </div>
    }
    @if (Template != null)
    {
        <div class="empty-telemplate">
            @Template
        </div>
    }
    @ChildContent
</div>
