@namespace BootstrapBlazor.Components

<ul class="dropdown-menu">
    @foreach (var item in Rows)
    {
        <li @key="item" class="dropdown-item" @onclick="() => OnClick(item)">
            @if (ItemTemplate == null)
            {
                <div>@item</div>
            }
            else
            {
                @ItemTemplate(item)
            }
        </li>
    }
    @if (ShowNoDataTip && Rows.Count == 0)
    {
        <li class="dropdown-item">@NoDataTip</li>
    }
</ul>
