@namespace BootstrapBlazor.Components
@inherits PopoverConfirmBase

<div class="popover-confirm-container">
    @if (PopoverService != null)
    {
        @PopoverService.ConfirmBox?.RenderFragment
    }
</div>
