@inject IStringLocalizer<GroupBoxNormal> Localizer

<GroupBox Title="@Localizer["GroupTitle"]">
    <p>@((MarkupString)Localizer["GroupP1"].Value)</p>
    <p>@((MarkupString)Localizer["GroupP2"].Value)</p>
</GroupBox>
