@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<span @attributes="@AdditionalAttributes" class="cell" @onclick="e => OnClick(Value)" @ondblclick="e=> OnDoubleClick?.Invoke(Value)">@Text</span>
