@namespace BootstrapBlazor.Components
@inherits ValidateBase<TimeSpan>

<div @attributes="@AdditionalAttributes" class="@ClassString">
    <TimePickerPanel @bind-Value="@Value" OnValueChanged="OnInternalValueChanged"></TimePickerPanel>
</div>
