@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString">
    <TimePickerPanel Value="@Value" ValueChanged="@ValueChanged"></TimePickerPanel>
</div>
