@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits DisplayBase<TValue>

@if (IsShowLabel)
{
    <BootstrapLabel class="is-display" ShowLabelTooltip="(ShowLabelTooltip ?? false)" Value="@DisplayText" />
}
@if (ShowTooltip)
{
    <Tooltip Title="@CurrentTextAsString">
        @RenderContent
    </Tooltip>
}
else
{
    @RenderContent
}

@code {
    RenderFragment RenderContent =>
    @<div @attributes="AdditionalAttributes" class="@ClassString">@CurrentTextAsString</div>;
}
