@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits DisplayBase<TValue>

@if (IsShowLabel)
{
    <label class="form-label is-display">@DisplayText</label>
}
<div @attributes="AdditionalAttributes" class="@ClassString">@CurrentTextAsString</div>
