@page "/anchorlinks"

<h3>AnchorLink 锚点链接</h3>

<h4>应用于标题带 <b>Hash</b> 的锚点链接，点击拷贝方便分享</h4>

<DemoBlock Title="普通用法" Introduction="放置标签后点击拷贝锚点链接到粘贴板" Name="Normal">
    <AnchorLink Text="我是一个可以点击的锚点链接" Id="AnchorLink1" class="anchor-link-demo" />
</DemoBlock>

<Tips class="mt-3">
    <div><code>AnchorLink</code> 锚点链接组件属性 <code>Id</code> 为必填项，不填写时不提供拷贝锚点链接功能</div>
    <div>组件锚点图标可通过 <code>Icon</code> 参数进行自定义默认为 <i class="fa fa-link"></i></div>
</Tips>

<AttributeTable Items="@GetAttributes()" />
