@page "/dockviews"
@inject IStringLocalizer<DockViews> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["Description"]</h4>

<a href="./dockview-row" target="_blank" class="btn btn-primary">实战示例集合</a>
