@page "/ip"
@inject IStringLocalizer<Ips> Localizer

<DemoBlock Title="@Localizer["IpNormalTitle"]" Introduction="@Localizer["IpNormalIntro"]" Name="Normal">
    <IpAddress @bind-Value="@Value" />
    <div class="mt-3">@Value</div>
</DemoBlock>
