@page "/loader"
@inject IStringLocalizer<Loader> Localizer

<div class="loader-display">
    <Loader />
</div>

<style>
    .loader-display {
        display: grid;
        place-items: center;
    }
</style>
