@page "/loader"
@inject IStringLocalizer<Loader> Localizer

<div class="loader-display">
    <Loader />
</div>

<div class="loader-display">
    <Loader Text="加载中 。。。" Columns="20" />
</div>

<style>
    .loader-display {
        margin: 20px;
        display: grid;
        place-items: center;
    }
</style>
