@page "/mouseFollowers"

<div class="mouseFollower-demo">
    <DemoBlock Title="普通模式"
               Introduction=""
               Name="mouseFollowerText"
               Demo="typeof(Demos.MouseFollower.MouseFollowerNormal)">
    </DemoBlock>

    <DemoBlock Title="文本模式"
               Introduction=""
               Name="mouseFollowerText"
               Demo="typeof(Demos.MouseFollower.MouseFollowerText)">
    </DemoBlock>

    <DemoBlock Title="图标模式"
               Introduction=""
               Name="mouseFollowerIcon"
               Demo="typeof(Demos.MouseFollower.MouseFollowerIcon)">
    </DemoBlock>

    <DemoBlock Title="图片模式"
               Introduction=""
               Name="mouseFollowerImage"
               Demo="typeof(Demos.MouseFollower.MouseFollowerImage)">
    </DemoBlock>

    <DemoBlock Title="视频模式"
               Introduction=""
               Name="mouseFollowerVideo"
               Demo="typeof(Demos.MouseFollower.MouseFollowerVideo)">
    </DemoBlock>
</div>
