@page "/repeates"
@inject IStringLocalizer<Repeates> Localizer

<h3>@Localizer["RepeateTitle"]</h3>

<h4>@Localizer["RepeateDescription"]</h4>

<DemoBlock Title="@Localizer["RepeateNormalTitle"]"
           Introduction="@Localizer["RepeateNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Repeates.RepeateNormal)">
</DemoBlock>
