@page "/repeaters"

<Repeater TValue="string" Items="GetStrings">
    <BodyTemplate Context="value">
        @foreach (var item in value)
        {
            <div>@item</div>
        }
    </BodyTemplate>
</Repeater>

@code{
    private List<string> GetStrings { get; set; } = new()
    {
        "123","456","789"
    };
}
