@page "/stacks"

<DemoBlock Title="普通布局">
    <Stack Orientation="Orientation.Vertical"
           HorizontalAlignment="@HorizontalAlignment.Left"
           VerticalAlignment="VerticalAlignment.Bottom"
           VerticalGap="20">
        <div>Vertical item 1</div>
        <div>Vertical item 2</div>
    </Stack>
</DemoBlock>


<DemoBlock Title="嵌套布局">
    <Stack Orientation="Orientation.Vertical"
           HorizontalAlignment="@HorizontalAlignment.Right"
           VerticalAlignment="VerticalAlignment.Bottom"
           VerticalGap="20">
        <div>Vertical item 1</div>
        <div>Vertical item 2</div>
        <Stack Orientation="Orientation.Horizontal"
               HorizontalAlignment="HorizontalAlignment.Left"
               VerticalAlignment="VerticalAlignment.Top"
               HorizontalGap="4">
            <div style="width: 150px">Horizontal item 1</div>
            <div>Horizontal item 2</div>
        </Stack>
    </Stack>
</DemoBlock>

<AttributeTable Items="GetAttributeItems()" />
