@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader]

<div id="@Id" class="@ClassString">
    <p class="loader-text" data-splitting>@Text</p>
    <div class="loader-wrap">
        <div class="loader-flip" data-splitting="cells" data-columns="10" data-rows="1" data-image="true" />
    </div>
</div>
