@namespace BootstrapBlazor.Components
@typeparam TModel
@inherits DialogBase<TModel>

@if (UseSearchForm)
{
    <SearchForm Items="SearchItems" RowType="RowType" ItemsPerRow="ItemsPerRow" LabelAlign="LabelAlign" ShowLabel="ShowLabel" ShowUnsetGroupItemsOnTop="ShowUnsetGroupItemsOnTop"
                SearchFormLocalizerOptions="SearchFormLocalizerOptions" OnChanged="OnSearchFormFilterChanged">
        <Buttons>
            @RenderButtons
        </Buttons>
    </SearchForm>
}
else if (BodyTemplate != null)
{
    <div class="form-body">
        @BodyTemplate.Invoke(Model)
    </div>
    <div class="form-footer">
        @RenderButtons
    </div>
}
else
{
    <CascadingValue Value="true" IsFixed="true" Name="IsSearch">
        <EditorForm TModel="TModel" Model="Model" Items="Items" RowType="RowType" ItemsPerRow="ItemsPerRow" LabelAlign="LabelAlign" ShowLabel="ShowLabel" ShowUnsetGroupItemsOnTop="ShowUnsetGroupItemsOnTop">
            <Buttons>
                @RenderButtons
            </Buttons>
        </EditorForm>
    </CascadingValue>
}
