@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" @ref="ChartElement" class="@ClassName" style="@StyleString">
    <div class="chart-loading">
        <i class="fa fa-spin fa-spinner"></i>
        <span class="d-none d-sm-inline-block ms-1">@LoadingText</span>
    </div>
    <canvas></canvas>
</div>
