<div class="row g-3">
    <div class="col-6">
        <VideoPlayer MineType="application/x-mpegURL" Url="https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8" />
    </div>
    <div class="col-6">
        <VideoPlayer MineType="video/mp4" Url="//vjs.zencdn.net/v/oceans.mp4" />
    </div>
</div>
