@namespace BootstrapBlazor.Components

@if (ChildContent != null)
{
    <div class="@ItemClassString">
        @ChildContent
    </div>
}
else
{
    <DynamicElement class="@ItemClassString"
                    TriggerClick="!IsDisabled" OnClick="OnClickItem">
        <i class="@ItemIconString"></i>
        <span>@Text</span>
    </DynamicElement>
}
