@namespace BootstrapBlazor.Components
@inherits ModalBase

<div @attributes="@AdditionalAttributes" class="modal fade" id="@Id" tabindex="-1" role="dialog" aria-labelledby="@Id" aria-hidden="true" data-backdrop="@Backdrop">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>
