@page "/praclogintemplate1"
@inject NavigationManager Navigation
@inject MessageService MessageService
@using System.ComponentModel;

<div class="login-box">
    <h2>Welcome to BootstrapBlazor</h2>
    <ValidateForm Model="@Model" @ref="ValidatorForm" Id="logintemplate1">
        <div class="user-box">
            <input @bind-value="Model.UserName" type="text" name="" required>
            <label>账号</label>
        </div>
        <div class="user-box">
            <input @bind-value="Model.Password" type="password" name="" required>
            <label>密码</label>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <Button type="submit">登录</Button>
        </a>
    </ValidateForm>
</div>

@code {
    [NotNull]
    private LoginModel? Model { get; set; } = new();

    [NotNull]
    private ValidateForm? ValidatorForm { get; set; }

    private async Task OnValidator()
    {
        var result = ValidatorForm.Validate();
        if (result)
        {
            await MessageService.Show(new MessageOption() { Content = "登录成功" });
        }
    }

    class LoginModel
    {
        [DataType(DataType.Text)]
        [Display(Name = "账号")]
        [Required(ErrorMessage = "{0}不能为空")]
        public string? UserName { get; set; }

        [DataType(DataType.Password)]
        [Display(Name = "密码")]
        [Required(ErrorMessage = "{0}不能为空")]
        public string? Password { get; set; }
    }
}
