@page "/praclogintemplate2"

<div class="log-form">
    <h2>Welcome to BootstrapBlazor</h2>
    <form>
        <input type="text" title="账号" placeholder="账号" />
        <input type="password" title="密码" placeholder="密码" />
        <button type="submit" class="btn">登录</button>
        <a class="forgot" href="#">忘记密码?</a>
    </form>
</div>
