@page "/praclogintemplate3"

<div class="logintemplate3">
    <div class="blurred-box">
        <div class="user-login-box">
            <span class="user-icon"></span>
            <div class="user-name">Argo</div>
            <input class="user-password" type="text" />
        </div>
    </div>
</div>
