@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
