<div class="mb-3">
    <CountUp TValue="int" Value="@Value" class="fw-bold fs-1"></CountUp>
</div>
<Button Icon="fa-solid fa-gear" Text="Update" OnClick="OnUpdate"></Button>

@code {
    private int Value { get; set; }

    private static Random Rnd { get; } = new();

    protected override void OnInitialized()
    {
        OnUpdate();
    }

    private void OnUpdate()
    {
        Value = Rnd.Next(1234, 99999);
    }
}
