@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader(JSObjectReference = true)]

<div @attributes="@AdditionalAttributes" class="@ClassString" id="@Id" data-bb-item-width="@ItemWidthString">
    <div class="bb-waterfall-list">
    </div>
    <div class="bb-wf-loader">
        loading ...
    </div>
</div>
