@inject IStringLocalizer<ImageViewerPlaceHolder> Localizer

<div>
    <div>@((MarkupString)Localizer["ImageViewerPlaceHolderTips1"].Value)</div>
    <div class="images img-ph mt-3">
        <div class="images-item">
            <div>@Localizer["ImageViewerPlaceHolderDefault"]</div>
            <ImageViewer Url="./images/image-ph.jpeg" ShowPlaceHolder="true" />
        </div>
        <div class="images-item">
            <div>@Localizer["ImageViewerPlaceHolderCustom"]</div>
            <ImageViewer Url="./images/image-ph.jpeg" ShowPlaceHolder="true">
                <PlaceHolderTemplate>
                    <div class="bb-img-holder">
                        <div class="bb-img-loading">@Localizer["ImageViewerPlaceHolderLoading"]</div>
                    </div>
                </PlaceHolderTemplate>
            </ImageViewer>
        </div>
    </div>
</div>
