@inject IStringLocalizer<ImageViewerErrorTemplate> Localizer

<div>
    <div class="images img-ph mt-3">
        <div class="images-item">
            <div>@Localizer["ImageViewerErrorTemplateUrlError"]</div>
            <ImageViewer Url="./images/error-image.jpeg" HandleError="true" />
        </div>
        <div class="images-item">
            <div>@Localizer["ImageViewerErrorTemplateCustom"]</div>
            <ImageViewer Url="./images/error-image.jpeg">
                <ErrorTemplate>
                    <div class="bb-img-holder">
                        <div class="bb-img-loading">@Localizer["ImageViewerErrorTemplateLoadFailed"]</div>
                    </div>
                </ErrorTemplate>
            </ImageViewer>
        </div>
    </div>
</div>
