@inject IStringLocalizer<ImageViewerPreviewList> Localizer

<div class="images img-ph mt-3">
    <div class="images-item">
        <ImageViewer Url="./images/bird.jpeg" PreviewList="PreviewList" />
    </div>
</div>

@code {
    private List<string> PreviewList { get; } = new();

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();

        PreviewList.AddRange(new string[]
        {
            "./images/ImageList1.jpeg",
            "./images/ImageList2.jpeg"
        });
    }
}
