<div class="row g-3">
    <div class="col-12 col-sm-6">
        <DateTimeRange Value="@DateTimeRangeValue" IsDisabled="@IsDisabled" />
    </div>
    <div class="col-12 col-sm-6">
        <Switch @bind-Value="@IsDisabled" />
    </div>
</div>

@code {
    private bool IsDisabled { get; set; } = true;

    private DateTimeRangeValue DateTimeRangeValue { get; set; } = new ();
}
