@inject IStringLocalizer<DateTimeRangeMaxMinValue> Localizer

<div class="row g-3">
    <div class="col-12 col-sm-6">
        <DateTimeRange @bind-Value="@DateTimeRangeValue"
                       OnValueChanged="v => OnValueChanged(v, 2)"
                       MinValue="DateTime.Today.AddDays(-7)"
                       MaxValue="DateTime.Today.AddDays(7)" />
    </div>
    <div class="col-12 col-sm-6">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="@Localizer["Limit"]" />
            <Display TValue="string" Value="@_range" />
        </BootstrapInputGroup>
    </div>
</div>

@code {
    private DateTimeRangeValue DateTimeRangeValue { get; set; } = new ()
    {
        Start = DateTime.Today,
        End = DateTime.Today.AddDays(3)
    };

    private string? _range;

    private Task OnValueChanged(DateTimeRangeValue val, int index)
    {
        var ret = "";
        if (val.Start != DateTime.MinValue)
        {
            ret = val.Start.ToString("yyyy-MM-dd");
        }
        if (val.End != DateTime.MinValue)
        {
            ret = $"{ret} - {val.End:yyyy-MM-dd}";
        }
        if (index != 1)
        {
            _range = ret;
        }
        return Task.CompletedTask;
    }
}
