@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

@if (Option.ShowBackdrop)
{
    <div tabindex="-1" class="drawer-backdrop" @onclick="Close"></div>
}
<div tabindex="-1" class="@DrawerClassString" style="@DrawerStyleString" @onclick:stopPropagation>
    <div class="drawer-content">
        @Option.ChildContent
    </div>
    @if (Option.AllowResize)
    {
        <div class="drawer-bar">
            <div class="drawer-bar-body"></div>
        </div>
    }
</div>
