@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader]

<div @attributes="@AdditionalAttributes" tabindex="-1" class="@ClassString" id="@Id">
    <CascadingValue Value="Close" IsFixed="true">
        <DrawerBody Option="GetOption()"></DrawerBody>
    </CascadingValue>
</div>
