@namespace BoostrapBlazor.Components
@inherits BootstrapBlazor.Components.BootstrapModuleComponentBase
@attribute [BootstrapBlazor.Components.JSModuleAutoLoader("./_content/BootstrapBlazor.SvgEditor/Components/SvgEditor/SvgEditor.razor.js", JSObjectReference = true)]

<div class="svg-editor"></div>
