@namespace BoostrapBlazor.Components
@inherits BootstrapBlazor.Components.BootstrapModuleComponentBase
@attribute [BootstrapBlazor.Components.JSModuleAutoLoader("./_content/BootstrapBlazor.SvgEditor/Components/SvgEditor/SvgEditor.razor.js", JSObjectReference = true)]

 <div id="container" style="width:100%;height:100vh"></div>
