@namespace BootstrapBlazor.Components
@inherits BootstrapBlazor.Components.BootstrapModuleComponentBase
@attribute [BootstrapBlazor.Components.JSModuleAutoLoader("./_content/BootstrapBlazor.SvgEditor/Components/SvgEditor/SvgEditor.razor.js", AutoInvokeInit = false, JSObjectReference = true)]

<div class="svg-editor" id="@Id"></div>
