@inject IStringLocalizer<Foo> FooLocalizer

<Repeater TItem="Foo" Items="Items">
    <ItemTemplate>
        <div class="d-flex">
            @context.Name
        </div>
    </ItemTemplate>
</Repeater>

@code {
    [NotNull]
    private List<Foo>? Items { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);

        // 生成数据
        Items = Foo.GenerateFoo(FooLocalizer, 4);
    }
}
