@inject IStringLocalizer<Foo> FooLocalizer

<Repeater TItem="Foo" Items="Items">
    <ContainerTemplate>
        <table class="table">
            <thead>
                <tr><th>@FooLocalizer[nameof(Foo.Name)]</th><th>@FooLocalizer[nameof(Foo.Address)]</th></tr>
            </thead>
            <tbody>
                @context
            </tbody>
        </table>
    </ContainerTemplate>
    <ItemTemplate>
        <tr>
            <td>@context.Name</td>
            <td>@context.Address</td>
        </tr>
    </ItemTemplate>
</Repeater>

@code {
    [NotNull]
    private List<Foo>? Items { get; set; }

    protected override void OnInitialized()
    {
        // 生成数据
        Items = Foo.GenerateFoo(FooLocalizer, 4);
    }
}
