@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<a href="#" class="layout-gotop" title="" data-toggle="tooltip" data-placement="left" data-original-title="返回顶部">
    <i class="fa fa-angle-up"></i>
</a>
