@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader("Components\Layout\LayoutSidebar.razor.js")]

<div id="@Id" class="layout-sidebar" data-bb-min="@_minWidthString" data-bb-max="@_maxWidthString">
    <div class="layout-sidebar-body"></div>
</div>
