@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader("Layout/LayoutSplitebar.razor.js")]

<div id="@Id" class="layout-splitebar"
     data-bb-min="@_minWidthString" data-bb-max="@_maxWidthString" data-bb-selector="@ContainerSelector">
    <div class="layout-splitebar-body"></div>
</div>
