@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader("Layout/LayoutSplitBar.razor.js")]

<div id="@Id" class="layout-split-bar"
     data-bb-min="@_minWidthString" data-bb-max="@_maxWidthString" data-bb-selector="@ContainerSelector">
    <div class="layout-split-bar-body"></div>
</div>
