@page "/speech/synthesizer"
@inherits BootstrapComponentBase
@inject IStringLocalizer<Synthesizers> Localizer

<h3>@Localizer["SynthesizersTitle"]</h3>
<h4>@Localizer["SynthesizersSubTitle"]</h4>

<DemoBlock Title="@Localizer["SynthesizerNormalTitle"]"
           Introduction="@Localizer["SynthesizerNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Speeches.Synthesizers.SynthesizerNormal)">
</DemoBlock>
