@using BootstrapBlazor.Shared.Samples
@inject IStringLocalizer<Footers> Localizer

<div id="scroll" class="overflow-auto border border-secondary" style="max-height: 120px;">
    <div class="p-2" style="height: 200px">
        <p>@Localizer["FootersContent1"]</p>
        <p>@Localizer["FootersContent2"]</p>
    </div>
    <Footer Text="Bootstrap Blazor" Target="#scroll" />
</div>
