@inject IStringLocalizer<Footers> Localizer

<div class="overflow-auto border border-secondary" style="max-height: 120px;">
    <div class="p-2" style="height: 200px">
        <p>@Localizer["FootersContent1"]</p>
        <p>@Localizer["FootersContent2"]</p>
    </div>
    <Footer>
        <div class="row g-3 text-center">
            <div class="col-6 col-md-4 col-lg-3">友情链接</div>
            <div class="col-6 col-md-4 col-lg-3">友情链接</div>
            <div class="col-6 col-md-4 col-lg-3">友情链接</div>
            <div class="col-6 col-md-4 col-lg-3">友情链接</div>
            <div class="col-6 col-md-4 col-lg-3">友情链接</div>
            <div class="col-6 col-md-4 col-lg-3">友情链接</div>
            <div class="col-6 col-md-4 col-lg-3">友情链接</div>
            <div class="col-6 col-md-4 col-lg-3">友情链接</div>
            <div class="col-6 col-md-4 col-lg-3">友情链接</div>
            <div class="col-6 col-md-4 col-lg-3">友情链接</div>
            <div class="col-6 col-md-4 col-lg-3">友情链接</div>
            <div class="col-6 col-md-4 col-lg-3">友情链接</div>
        </div>
    </Footer>
</div>
