@using static BootstrapBlazor.Shared.Samples.ListViews;
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption
@inject IStringLocalizer<BootstrapBlazor.Shared.Samples.ListViews> Localizer

<ListView TItem="Product" Items="@Products" OnListViewItemClick="OnListViewItemClick">
    <HeaderTemplate>
        <div>@Localizer["ProductListText"]</div>
    </HeaderTemplate>
    <BodyTemplate>
        <Card>
            <BodyTemplate>
                <img src="@context.ImageUrl" />
                <div class="listview-demo-desc">@context.Description</div>
            </BodyTemplate>
        </Card>
    </BodyTemplate>
    <FooterTemplate>
        <div class="text-end">
            Coptyright Bootstrap Blazor
        </div>
    </FooterTemplate>
</ListView>

<Logger @ref="Logger" class="mt-3" />

@code {
    [NotNull]
    private Logger? Logger{ get; set; }

    [NotNull]
    private IEnumerable<Product>? Products { get; set; }

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();

        Products = Enumerable.Range(1, 100).Select(i => new Product()
        {
            ImageUrl = $"{WebsiteOption.CurrentValue.ImageLibUrl}/images/Pic{i}.jpg",
            Description = $"Pic{i}.jpg",
            Category = $"Group{(i % 4) + 1}"
        });
    }

    private Task OnListViewItemClick(Product item)
    {
        Logger.Log($"ListViewItem: {item.Description} clicked");
        return Task.CompletedTask;
    }
}
