@using BootstrapBlazor.Enums;

<MouseFollower FollowerMode="MouseFollowerMode.Icon" Icon="icon" Options="@followerOptions">
    <div class="mouseFollower-demo">欢迎使用BootstrapBlazor组件库</div>
</MouseFollower>

@code {
    private MouseFollowerOptions followerOptions = new MouseFollowerOptions()
        {
            IconSvgSrc = "./_content/BootstrapBlazor.Shared/images/mousefollower/cloud.svg",
        };
}
