@using BootstrapBlazor.Enums;

<MouseFollower FollowerMode="MouseFollowerMode.Image"
               ImagePath="./_content/BootstrapBlazor.Shared/images/mousefollower/cat.gif">
    <FollowerBody>
        <div class="mouseFollower-demo">
            <h2>欢迎使用BootstrapBlazor组件库</h2>
        </div>
    </FollowerBody>
</MouseFollower>
