@using BootstrapBlazor.Enums;

<MouseFollower Text="Hi"
               Options="@followerOptions"
               FollowerMode="MouseFollowerMode.Text">
    <div class="mouseFollower-demo">欢迎使用BootstrapBlazor组件库</div>
</MouseFollower>

@code {
    private MouseFollowerOptions followerOptions = new() { ClassName = "mf-cursor bb-cursor" };
}

<style>
    .bb-cursor {
        color: orangered
    }
</style>

