@using BootstrapBlazor.Enums;

<MouseFollower FollowerMode="MouseFollowerMode.Video">
    <FollowerBody>
        <div class="mouseFollower-demo">
            <h2>欢迎使用BootstrapBlazor组件库</h2>
        </div>
    </FollowerBody>
</MouseFollower>
