@using BootstrapBlazor.Enums;

<MouseFollower FollowerMode="MouseFollowerMode.Icon" Icon="icon">
    <FollowerBody>
        <div class="mouseFollower-demo">
            <h2>欢迎使用BootstrapBlazor组件库</h2>
        </div>
    </FollowerBody>
</MouseFollower>

@code{
    private MouseFollowerOptions followerOptions = new MouseFollowerOptions()
    {
        IconSvgSrc = "./_content/BootstrapBlazor.Shared/images/mousefollower/cloud.svg",
            IconSvgClassName = "cloud"
    };
}
