<ul>
    @foreach (var item in Items)
    {
        <ContextMenuTrigger WrapperTag="li" ContextItem="item" >
            <div>@item</div>
        </ContextMenuTrigger>
    }
</ul>

@code {
    private List<string> Items { get; } = new List<string>() { "Test1", "Test2", "Test3" };

    [CascadingParameter]
    [NotNull]
    private ContextMenuZone? Zone { get; set; }
}
