@inherits WebSiteModuleComponentBase
@attribute [JSModuleAutoLoader("Components/Wwads.razor.js", AutoInvokeDispose = false)]

<HeadContent>
    <link rel="stylesheet" href="@Assets["./_content/BootstrapBlazor.Shared/css/wwads.css"]" />
</HeadContent>

<div @attributes="AdditionalAttributes" id="@Id" class="@ClassString"></div>
