<Row ItemsPerRow="ItemsPerRow.Three">
    <Card>
        <BodyTemplate>
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">Card 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">Card 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </BodyTemplate>
    </Card>
    <Card>
        <BodyTemplate>
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </BodyTemplate>
    </Card>
</Row>
