@inherits BootstrapComponentBase
@namespace BootstrapBlazor.Components

<div @attributes="@AdditionalAttributes" class="@ClassString">
    <svg xmlns="http://www.w3.org/2000/svg"><use href="@Href"></use></svg>
</div>
