<a><ElementIcon Name="add-location"></ElementIcon><span>add-location</span></a>
<a><ElementIcon Name="aim"></ElementIcon><span>aim</span></a>
<a><ElementIcon Name="alarm-clock"></ElementIcon><span>alarm-clock</span></a>
<a><ElementIcon Name="apple"></ElementIcon><span>apple</span></a>
<a><ElementIcon Name="arrow-down-bold"></ElementIcon><span>arrow-down-bold</span></a>
<a><ElementIcon Name="arrow-down"></ElementIcon><span>arrow-down</span></a>
<a><ElementIcon Name="arrow-left-bold"></ElementIcon><span>arrow-left-bold</span></a>
<a><ElementIcon Name="arrow-left"></ElementIcon><span>arrow-left</span></a>
<a><ElementIcon Name="arrow-right-bold"></ElementIcon><span>arrow-right-bold</span></a>
<a><ElementIcon Name="arrow-right"></ElementIcon><span>arrow-right</span></a>
<a><ElementIcon Name="arrow-up-bold"></ElementIcon><span>arrow-up-bold</span></a>
<a><ElementIcon Name="arrow-up"></ElementIcon><span>arrow-up</span></a>
<a><ElementIcon Name="avatar"></ElementIcon><span>avatar</span></a>
<a><ElementIcon Name="back"></ElementIcon><span>back</span></a>
<a><ElementIcon Name="baseball"></ElementIcon><span>baseball</span></a>
<a><ElementIcon Name="basketball"></ElementIcon><span>basketball</span></a>
<a><ElementIcon Name="bell-filled"></ElementIcon><span>bell-filled</span></a>
<a><ElementIcon Name="bell"></ElementIcon><span>bell</span></a>
<a><ElementIcon Name="bicycle"></ElementIcon><span>bicycle</span></a>
<a><ElementIcon Name="bottom-left"></ElementIcon><span>bottom-left</span></a>
<a><ElementIcon Name="bottom-right"></ElementIcon><span>bottom-right</span></a>
<a><ElementIcon Name="bottom"></ElementIcon><span>bottom</span></a>
<a><ElementIcon Name="bowl"></ElementIcon><span>bowl</span></a>
<a><ElementIcon Name="box"></ElementIcon><span>box</span></a>
<a><ElementIcon Name="briefcase"></ElementIcon><span>briefcase</span></a>
<a><ElementIcon Name="brush-filled"></ElementIcon><span>brush-filled</span></a>
<a><ElementIcon Name="brush"></ElementIcon><span>brush</span></a>
<a><ElementIcon Name="burger"></ElementIcon><span>burger</span></a>
<a><ElementIcon Name="calendar"></ElementIcon><span>calendar</span></a>
<a><ElementIcon Name="camera-filled"></ElementIcon><span>camera-filled</span></a>
<a><ElementIcon Name="camera"></ElementIcon><span>camera</span></a>
<a><ElementIcon Name="caret-bottom"></ElementIcon><span>caret-bottom</span></a>
<a><ElementIcon Name="caret-left"></ElementIcon><span>caret-left</span></a>
<a><ElementIcon Name="caret-right"></ElementIcon><span>caret-right</span></a>
<a><ElementIcon Name="caret-top"></ElementIcon><span>caret-top</span></a>
<a><ElementIcon Name="cellphone"></ElementIcon><span>cellphone</span></a>
<a><ElementIcon Name="chat-dot-round"></ElementIcon><span>chat-dot-round</span></a>
<a><ElementIcon Name="chat-dot-square"></ElementIcon><span>chat-dot-square</span></a>
<a><ElementIcon Name="chat-line-round"></ElementIcon><span>chat-line-round</span></a>
<a><ElementIcon Name="chat-line-square"></ElementIcon><span>chat-line-square</span></a>
<a><ElementIcon Name="chat-round"></ElementIcon><span>chat-round</span></a>
<a><ElementIcon Name="chat-square"></ElementIcon><span>chat-square</span></a>
<a><ElementIcon Name="check"></ElementIcon><span>check</span></a>
<a><ElementIcon Name="checked"></ElementIcon><span>checked</span></a>
<a><ElementIcon Name="cherry"></ElementIcon><span>cherry</span></a>
<a><ElementIcon Name="chicken"></ElementIcon><span>chicken</span></a>
<a><ElementIcon Name="chrome-filled"></ElementIcon><span>chrome-filled</span></a>
<a><ElementIcon Name="circle-check-filled"></ElementIcon><span>circle-check-filled</span></a>
<a><ElementIcon Name="circle-check"></ElementIcon><span>circle-check</span></a>
<a><ElementIcon Name="circle-close-filled"></ElementIcon><span>circle-close-filled</span></a>
<a><ElementIcon Name="circle-close"></ElementIcon><span>circle-close</span></a>
<a><ElementIcon Name="circle-plus-filled"></ElementIcon><span>circle-plus-filled</span></a>
<a><ElementIcon Name="circle-plus"></ElementIcon><span>circle-plus</span></a>
<a><ElementIcon Name="clock"></ElementIcon><span>clock</span></a>
<a><ElementIcon Name="close-bold"></ElementIcon><span>close-bold</span></a>
<a><ElementIcon Name="close"></ElementIcon><span>close</span></a>
<a><ElementIcon Name="cloudy"></ElementIcon><span>cloudy</span></a>
<a><ElementIcon Name="coffee-cup"></ElementIcon><span>coffee-cup</span></a>
<a><ElementIcon Name="coffee"></ElementIcon><span>coffee</span></a>
<a><ElementIcon Name="coin"></ElementIcon><span>coin</span></a>
<a><ElementIcon Name="cold-drink"></ElementIcon><span>cold-drink</span></a>
<a><ElementIcon Name="collection-tag"></ElementIcon><span>collection-tag</span></a>
<a><ElementIcon Name="collection"></ElementIcon><span>collection</span></a>
<a><ElementIcon Name="comment"></ElementIcon><span>comment</span></a>
<a><ElementIcon Name="compass"></ElementIcon><span>compass</span></a>
<a><ElementIcon Name="connection"></ElementIcon><span>connection</span></a>
<a><ElementIcon Name="coordinate"></ElementIcon><span>coordinate</span></a>
<a><ElementIcon Name="copy-document"></ElementIcon><span>copy-document</span></a>
<a><ElementIcon Name="cpu"></ElementIcon><span>cpu</span></a>
<a><ElementIcon Name="credit-card"></ElementIcon><span>credit-card</span></a>
<a><ElementIcon Name="crop"></ElementIcon><span>crop</span></a>
<a><ElementIcon Name="d-arrow-left"></ElementIcon><span>d-arrow-left</span></a>
<a><ElementIcon Name="d-arrow-right"></ElementIcon><span>d-arrow-right</span></a>
<a><ElementIcon Name="d-caret"></ElementIcon><span>d-caret</span></a>
<a><ElementIcon Name="data-analysis"></ElementIcon><span>data-analysis</span></a>
<a><ElementIcon Name="data-board"></ElementIcon><span>data-board</span></a>
<a><ElementIcon Name="data-line"></ElementIcon><span>data-line</span></a>
<a><ElementIcon Name="delete-filled"></ElementIcon><span>delete-filled</span></a>
<a><ElementIcon Name="delete-location"></ElementIcon><span>delete-location</span></a>
<a><ElementIcon Name="delete"></ElementIcon><span>delete</span></a>
<a><ElementIcon Name="dessert"></ElementIcon><span>dessert</span></a>
<a><ElementIcon Name="discount"></ElementIcon><span>discount</span></a>
<a><ElementIcon Name="dish-dot"></ElementIcon><span>dish-dot</span></a>
<a><ElementIcon Name="dish"></ElementIcon><span>dish</span></a>
<a><ElementIcon Name="document-add"></ElementIcon><span>document-add</span></a>
<a><ElementIcon Name="document-checked"></ElementIcon><span>document-checked</span></a>
<a><ElementIcon Name="document-copy"></ElementIcon><span>document-copy</span></a>
<a><ElementIcon Name="document-delete"></ElementIcon><span>document-delete</span></a>
<a><ElementIcon Name="document-remove"></ElementIcon><span>document-remove</span></a>
<a><ElementIcon Name="document"></ElementIcon><span>document</span></a>
<a><ElementIcon Name="download"></ElementIcon><span>download</span></a>
<a><ElementIcon Name="drizzling"></ElementIcon><span>drizzling</span></a>
<a><ElementIcon Name="edit-pen"></ElementIcon><span>edit-pen</span></a>
<a><ElementIcon Name="edit"></ElementIcon><span>edit</span></a>
<a><ElementIcon Name="eleme-filled"></ElementIcon><span>eleme-filled</span></a>
<a><ElementIcon Name="eleme"></ElementIcon><span>eleme</span></a>
<a><ElementIcon Name="element-plus"></ElementIcon><span>element-plus</span></a>
<a><ElementIcon Name="expand"></ElementIcon><span>expand</span></a>
<a><ElementIcon Name="failed"></ElementIcon><span>failed</span></a>
<a><ElementIcon Name="female"></ElementIcon><span>female</span></a>
<a><ElementIcon Name="files"></ElementIcon><span>files</span></a>
<a><ElementIcon Name="film"></ElementIcon><span>film</span></a>
<a><ElementIcon Name="filter"></ElementIcon><span>filter</span></a>
<a><ElementIcon Name="finished"></ElementIcon><span>finished</span></a>
<a><ElementIcon Name="first-aid-kit"></ElementIcon><span>first-aid-kit</span></a>
<a><ElementIcon Name="flag"></ElementIcon><span>flag</span></a>
<a><ElementIcon Name="fold"></ElementIcon><span>fold</span></a>
<a><ElementIcon Name="folder-add"></ElementIcon><span>folder-add</span></a>
<a><ElementIcon Name="folder-checked"></ElementIcon><span>folder-checked</span></a>
<a><ElementIcon Name="folder-delete"></ElementIcon><span>folder-delete</span></a>
<a><ElementIcon Name="folder-opened"></ElementIcon><span>folder-opened</span></a>
<a><ElementIcon Name="folder-remove"></ElementIcon><span>folder-remove</span></a>
<a><ElementIcon Name="folder"></ElementIcon><span>folder</span></a>
<a><ElementIcon Name="food"></ElementIcon><span>food</span></a>
<a><ElementIcon Name="football"></ElementIcon><span>football</span></a>
<a><ElementIcon Name="fork-spoon"></ElementIcon><span>fork-spoon</span></a>
<a><ElementIcon Name="fries"></ElementIcon><span>fries</span></a>
<a><ElementIcon Name="full-screen"></ElementIcon><span>full-screen</span></a>
<a><ElementIcon Name="goblet-full"></ElementIcon><span>goblet-full</span></a>
<a><ElementIcon Name="goblet-square-full"></ElementIcon><span>goblet-square-full</span></a>
<a><ElementIcon Name="goblet-square"></ElementIcon><span>goblet-square</span></a>
<a><ElementIcon Name="goblet"></ElementIcon><span>goblet</span></a>
<a><ElementIcon Name="gold-medal"></ElementIcon><span>gold-medal</span></a>
<a><ElementIcon Name="goods-filled"></ElementIcon><span>goods-filled</span></a>
<a><ElementIcon Name="goods"></ElementIcon><span>goods</span></a>
<a><ElementIcon Name="grape"></ElementIcon><span>grape</span></a>
<a><ElementIcon Name="grid"></ElementIcon><span>grid</span></a>
<a><ElementIcon Name="guide"></ElementIcon><span>guide</span></a>
<a><ElementIcon Name="handbag"></ElementIcon><span>handbag</span></a>
<a><ElementIcon Name="headset"></ElementIcon><span>headset</span></a>
<a><ElementIcon Name="help-filled"></ElementIcon><span>help-filled</span></a>
<a><ElementIcon Name="help"></ElementIcon><span>help</span></a>
<a><ElementIcon Name="hide"></ElementIcon><span>hide</span></a>
<a><ElementIcon Name="histogram"></ElementIcon><span>histogram</span></a>
<a><ElementIcon Name="home-filled"></ElementIcon><span>home-filled</span></a>
<a><ElementIcon Name="hot-water"></ElementIcon><span>hot-water</span></a>
<a><ElementIcon Name="house"></ElementIcon><span>house</span></a>
<a><ElementIcon Name="ice-cream-round"></ElementIcon><span>ice-cream-round</span></a>
<a><ElementIcon Name="ice-cream-square"></ElementIcon><span>ice-cream-square</span></a>
<a><ElementIcon Name="ice-cream"></ElementIcon><span>ice-cream</span></a>
<a><ElementIcon Name="ice-drink"></ElementIcon><span>ice-drink</span></a>
<a><ElementIcon Name="ice-tea"></ElementIcon><span>ice-tea</span></a>
<a><ElementIcon Name="info-filled"></ElementIcon><span>info-filled</span></a>
<a><ElementIcon Name="iphone"></ElementIcon><span>iphone</span></a>
<a><ElementIcon Name="key"></ElementIcon><span>key</span></a>
<a><ElementIcon Name="knife-fork"></ElementIcon><span>knife-fork</span></a>
<a><ElementIcon Name="LICENSE"></ElementIcon><span>LICENSE</span></a>
<a><ElementIcon Name="lightning"></ElementIcon><span>lightning</span></a>
<a><ElementIcon Name="link"></ElementIcon><span>link</span></a>
<a><ElementIcon Name="list"></ElementIcon><span>list</span></a>
<a><ElementIcon Name="loading"></ElementIcon><span>loading</span></a>
<a><ElementIcon Name="location-filled"></ElementIcon><span>location-filled</span></a>
<a><ElementIcon Name="location-information"></ElementIcon><span>location-information</span></a>
<a><ElementIcon Name="location"></ElementIcon><span>location</span></a>
<a><ElementIcon Name="lock"></ElementIcon><span>lock</span></a>
<a><ElementIcon Name="lollipop"></ElementIcon><span>lollipop</span></a>
<a><ElementIcon Name="magic-stick"></ElementIcon><span>magic-stick</span></a>
<a><ElementIcon Name="magnet"></ElementIcon><span>magnet</span></a>
<a><ElementIcon Name="male"></ElementIcon><span>male</span></a>
<a><ElementIcon Name="management"></ElementIcon><span>management</span></a>
<a><ElementIcon Name="map-location"></ElementIcon><span>map-location</span></a>
<a><ElementIcon Name="medal"></ElementIcon><span>medal</span></a>
<a><ElementIcon Name="memo"></ElementIcon><span>memo</span></a>
<a><ElementIcon Name="menu"></ElementIcon><span>menu</span></a>
<a><ElementIcon Name="message-box"></ElementIcon><span>message-box</span></a>
<a><ElementIcon Name="message"></ElementIcon><span>message</span></a>
<a><ElementIcon Name="mic"></ElementIcon><span>mic</span></a>
<a><ElementIcon Name="microphone"></ElementIcon><span>microphone</span></a>
<a><ElementIcon Name="milk-tea"></ElementIcon><span>milk-tea</span></a>
<a><ElementIcon Name="minus"></ElementIcon><span>minus</span></a>
<a><ElementIcon Name="money"></ElementIcon><span>money</span></a>
<a><ElementIcon Name="monitor"></ElementIcon><span>monitor</span></a>
<a><ElementIcon Name="moon-night"></ElementIcon><span>moon-night</span></a>
<a><ElementIcon Name="moon"></ElementIcon><span>moon</span></a>
<a><ElementIcon Name="more-filled"></ElementIcon><span>more-filled</span></a>
<a><ElementIcon Name="more"></ElementIcon><span>more</span></a>
<a><ElementIcon Name="mostly-cloudy"></ElementIcon><span>mostly-cloudy</span></a>
<a><ElementIcon Name="mouse"></ElementIcon><span>mouse</span></a>
<a><ElementIcon Name="mug"></ElementIcon><span>mug</span></a>
<a><ElementIcon Name="mute-notification"></ElementIcon><span>mute-notification</span></a>
<a><ElementIcon Name="mute"></ElementIcon><span>mute</span></a>
<a><ElementIcon Name="no-smoking"></ElementIcon><span>no-smoking</span></a>
<a><ElementIcon Name="notebook"></ElementIcon><span>notebook</span></a>
<a><ElementIcon Name="notification"></ElementIcon><span>notification</span></a>
<a><ElementIcon Name="odometer"></ElementIcon><span>odometer</span></a>
<a><ElementIcon Name="office-building"></ElementIcon><span>office-building</span></a>
<a><ElementIcon Name="open"></ElementIcon><span>open</span></a>
<a><ElementIcon Name="operation"></ElementIcon><span>operation</span></a>
<a><ElementIcon Name="opportunity"></ElementIcon><span>opportunity</span></a>
<a><ElementIcon Name="orange"></ElementIcon><span>orange</span></a>
<a><ElementIcon Name="package"></ElementIcon><span>package</span></a>
<a><ElementIcon Name="paperclip"></ElementIcon><span>paperclip</span></a>
<a><ElementIcon Name="partly-cloudy"></ElementIcon><span>partly-cloudy</span></a>
<a><ElementIcon Name="pear"></ElementIcon><span>pear</span></a>
<a><ElementIcon Name="phone-filled"></ElementIcon><span>phone-filled</span></a>
<a><ElementIcon Name="phone"></ElementIcon><span>phone</span></a>
<a><ElementIcon Name="picture-filled"></ElementIcon><span>picture-filled</span></a>
<a><ElementIcon Name="picture-rounded"></ElementIcon><span>picture-rounded</span></a>
<a><ElementIcon Name="picture"></ElementIcon><span>picture</span></a>
<a><ElementIcon Name="pie-chart"></ElementIcon><span>pie-chart</span></a>
<a><ElementIcon Name="place"></ElementIcon><span>place</span></a>
<a><ElementIcon Name="platform"></ElementIcon><span>platform</span></a>
<a><ElementIcon Name="plus"></ElementIcon><span>plus</span></a>
<a><ElementIcon Name="pointer"></ElementIcon><span>pointer</span></a>
<a><ElementIcon Name="position"></ElementIcon><span>position</span></a>
<a><ElementIcon Name="postcard"></ElementIcon><span>postcard</span></a>
<a><ElementIcon Name="pouring"></ElementIcon><span>pouring</span></a>
<a><ElementIcon Name="present"></ElementIcon><span>present</span></a>
<a><ElementIcon Name="price-tag"></ElementIcon><span>price-tag</span></a>
<a><ElementIcon Name="printer"></ElementIcon><span>printer</span></a>
<a><ElementIcon Name="promotion"></ElementIcon><span>promotion</span></a>
<a><ElementIcon Name="quartz-watch"></ElementIcon><span>quartz-watch</span></a>
<a><ElementIcon Name="question-filled"></ElementIcon><span>question-filled</span></a>
<a><ElementIcon Name="rank"></ElementIcon><span>rank</span></a>
<a><ElementIcon Name="reading-lamp"></ElementIcon><span>reading-lamp</span></a>
<a><ElementIcon Name="reading"></ElementIcon><span>reading</span></a>
<a><ElementIcon Name="refresh-left"></ElementIcon><span>refresh-left</span></a>
<a><ElementIcon Name="refresh-right"></ElementIcon><span>refresh-right</span></a>
<a><ElementIcon Name="refresh"></ElementIcon><span>refresh</span></a>
<a><ElementIcon Name="refrigerator"></ElementIcon><span>refrigerator</span></a>
<a><ElementIcon Name="remove-filled"></ElementIcon><span>remove-filled</span></a>
<a><ElementIcon Name="remove"></ElementIcon><span>remove</span></a>
<a><ElementIcon Name="right"></ElementIcon><span>right</span></a>
<a><ElementIcon Name="scale-to-original"></ElementIcon><span>scale-to-original</span></a>
<a><ElementIcon Name="school"></ElementIcon><span>school</span></a>
<a><ElementIcon Name="scissor"></ElementIcon><span>scissor</span></a>
<a><ElementIcon Name="search"></ElementIcon><span>search</span></a>
<a><ElementIcon Name="select"></ElementIcon><span>select</span></a>
<a><ElementIcon Name="sell"></ElementIcon><span>sell</span></a>
<a><ElementIcon Name="semi-select"></ElementIcon><span>semi-select</span></a>
<a><ElementIcon Name="service"></ElementIcon><span>service</span></a>
<a><ElementIcon Name="set-up"></ElementIcon><span>set-up</span></a>
<a><ElementIcon Name="setting"></ElementIcon><span>setting</span></a>
<a><ElementIcon Name="share"></ElementIcon><span>share</span></a>
<a><ElementIcon Name="ship"></ElementIcon><span>ship</span></a>
<a><ElementIcon Name="shop"></ElementIcon><span>shop</span></a>
<a><ElementIcon Name="shopping-bag"></ElementIcon><span>shopping-bag</span></a>
<a><ElementIcon Name="shopping-cart-full"></ElementIcon><span>shopping-cart-full</span></a>
<a><ElementIcon Name="shopping-cart"></ElementIcon><span>shopping-cart</span></a>
<a><ElementIcon Name="shopping-trolley"></ElementIcon><span>shopping-trolley</span></a>
<a><ElementIcon Name="smoking"></ElementIcon><span>smoking</span></a>
<a><ElementIcon Name="soccer"></ElementIcon><span>soccer</span></a>
<a><ElementIcon Name="sold-out"></ElementIcon><span>sold-out</span></a>
<a><ElementIcon Name="sort-down"></ElementIcon><span>sort-down</span></a>
<a><ElementIcon Name="sort-up"></ElementIcon><span>sort-up</span></a>
<a><ElementIcon Name="sort"></ElementIcon><span>sort</span></a>
<a><ElementIcon Name="stamp"></ElementIcon><span>stamp</span></a>
<a><ElementIcon Name="star-filled"></ElementIcon><span>star-filled</span></a>
<a><ElementIcon Name="star"></ElementIcon><span>star</span></a>
<a><ElementIcon Name="stopwatch"></ElementIcon><span>stopwatch</span></a>
<a><ElementIcon Name="success-filled"></ElementIcon><span>success-filled</span></a>
<a><ElementIcon Name="sugar"></ElementIcon><span>sugar</span></a>
<a><ElementIcon Name="suitcase-line"></ElementIcon><span>suitcase-line</span></a>
<a><ElementIcon Name="suitcase"></ElementIcon><span>suitcase</span></a>
<a><ElementIcon Name="sunny"></ElementIcon><span>sunny</span></a>
<a><ElementIcon Name="sunrise"></ElementIcon><span>sunrise</span></a>
<a><ElementIcon Name="sunset"></ElementIcon><span>sunset</span></a>
<a><ElementIcon Name="switch-button"></ElementIcon><span>switch-button</span></a>
<a><ElementIcon Name="switch-filled"></ElementIcon><span>switch-filled</span></a>
<a><ElementIcon Name="switch"></ElementIcon><span>switch</span></a>
<a><ElementIcon Name="takeaway-box"></ElementIcon><span>takeaway-box</span></a>
<a><ElementIcon Name="ticket"></ElementIcon><span>ticket</span></a>
<a><ElementIcon Name="tickets"></ElementIcon><span>tickets</span></a>
<a><ElementIcon Name="timer"></ElementIcon><span>timer</span></a>
<a><ElementIcon Name="toilet-paper"></ElementIcon><span>toilet-paper</span></a>
<a><ElementIcon Name="tools"></ElementIcon><span>tools</span></a>
<a><ElementIcon Name="top-left"></ElementIcon><span>top-left</span></a>
<a><ElementIcon Name="top-right"></ElementIcon><span>top-right</span></a>
<a><ElementIcon Name="top"></ElementIcon><span>top</span></a>
<a><ElementIcon Name="trend-charts"></ElementIcon><span>trend-charts</span></a>
<a><ElementIcon Name="trophy-base"></ElementIcon><span>trophy-base</span></a>
<a><ElementIcon Name="trophy"></ElementIcon><span>trophy</span></a>
<a><ElementIcon Name="turn-off"></ElementIcon><span>turn-off</span></a>
<a><ElementIcon Name="umbrella"></ElementIcon><span>umbrella</span></a>
<a><ElementIcon Name="unlock"></ElementIcon><span>unlock</span></a>
<a><ElementIcon Name="upload-filled"></ElementIcon><span>upload-filled</span></a>
<a><ElementIcon Name="upload"></ElementIcon><span>upload</span></a>
<a><ElementIcon Name="user-filled"></ElementIcon><span>user-filled</span></a>
<a><ElementIcon Name="user"></ElementIcon><span>user</span></a>
<a><ElementIcon Name="van"></ElementIcon><span>van</span></a>
<a><ElementIcon Name="video-camera-filled"></ElementIcon><span>video-camera-filled</span></a>
<a><ElementIcon Name="video-camera"></ElementIcon><span>video-camera</span></a>
<a><ElementIcon Name="video-pause"></ElementIcon><span>video-pause</span></a>
<a><ElementIcon Name="video-play"></ElementIcon><span>video-play</span></a>
<a><ElementIcon Name="view"></ElementIcon><span>view</span></a>
<a><ElementIcon Name="wallet-filled"></ElementIcon><span>wallet-filled</span></a>
<a><ElementIcon Name="wallet"></ElementIcon><span>wallet</span></a>
<a><ElementIcon Name="warn-triangle-filled"></ElementIcon><span>warn-triangle-filled</span></a>
<a><ElementIcon Name="warning-filled"></ElementIcon><span>warning-filled</span></a>
<a><ElementIcon Name="warning"></ElementIcon><span>warning</span></a>
<a><ElementIcon Name="watch"></ElementIcon><span>watch</span></a>
<a><ElementIcon Name="watermelon"></ElementIcon><span>watermelon</span></a>
<a><ElementIcon Name="wind-power"></ElementIcon><span>wind-power</span></a>
<a><ElementIcon Name="zoom-in"></ElementIcon><span>zoom-in</span></a>
<a><ElementIcon Name="zoom-out"></ElementIcon><span>zoom-out</span></a>
