@page "/tables/dynamic"

<h3>Table 表格</h3>

<h4>支持动态添加列</h4>

<Block Title="动态列生成" Introduction="高级的表格展示用法。">
    <Table TItem="DunamicUser"
           AutoGenerateColumns="true"
           ShowDefaultButtons="true"
           ShowToolbar="true"
           ShowAddButton="true"
           ShowDeleteButton="true"
           ShowEditButton="true"
           DataService="@DataService" UseInjectDataService="true" IsMultipleSelect="true">
    </Table>
</Block>
