@inject IStringLocalizer<DateTimePickerValidateDemo> Localizer

<ValidateForm Model="this">
    <div class="row g-3">
        <div class="col-12 col-sm-auto">
            <DateTimePicker @bind-Value="@Value" />
        </div>
        <div class="col-12 col-sm-auto align-self-end">
            <Button ButtonType="ButtonType.Submit" Text="@Localizer["SubmitText"]" Icon="fa-solid fa-floppy-disk" />
        </div>
    </div>
</ValidateForm>

@code {
    /// <summary>
    /// ModelValidateValue
    /// </summary>
    [Required]
    public DateTime? Value { get; set; }
}
