<div class="row g-3">
    <div class="col-sm-6">
        <DateTimePicker @bind-Value="@BindValue" />
    </div>
    <div class="col-sm-6">
        <input class="form-control" @bind="@BindValueString" />
    </div>
</div>

@code {
    private DateTime? BindValue { get; set; } = DateTime.Today;

    private string BindValueString
    {
        get => BindValue.HasValue ? BindValue.Value.ToString("yyyy-MM-dd") : "";
        set => BindValue = DateTime.TryParse(value, out var d) ? d : null;
    }
}
