<div class="row g-3">
    <div class="col-12 col-sm-8">
        <DateTimePicker @bind-Value="@BindNullValue" />
    </div>
    <div class="col-12 col-sm-4">
        <Display TValue="string" Value="@GetNullValueString" />
    </div>
</div>

@code {
    private DateTime? BindNullValue { get; set; }

    private string GetNullValueString => BindNullValue.HasValue ? BindNullValue.Value.ToString("yyyy-MM-dd") : "";
}
