@inject IStringLocalizer<DateTimePickerGroup> Localizer

<div class="row g-3">
    <div class="col-12 col-sm-6 col-md-4">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="@Localizer["BlockGroupPrevLabel"]" />
            <DateTimePicker TValue="DateTime" ViewMode="DatePickerViewMode.Date" />
        </BootstrapInputGroup>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <BootstrapInputGroup>
            <DateTimePicker TValue="DateTime" ViewMode="DatePickerViewMode.Date" />
            <BootstrapInputGroupLabel DisplayText="@Localizer["BlockGroupSuffixLabel"]" />
        </BootstrapInputGroup>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="@Localizer["BlockGroupPrevLabel"]" />
            <DateTimePicker TValue="DateTime" ViewMode="DatePickerViewMode.Date" />
            <BootstrapInputGroupLabel DisplayText="@Localizer["BlockGroupSuffixLabel"]" />
        </BootstrapInputGroup>
    </div>
</div>
