<tr>
    <td>09:00</td>
    @for (var index = 0; index < 7; index++)
    {
        <td></td>
    }
</tr>
<tr>
    <td>10:00</td>
    @for (var index = 0; index < 7; index++)
    {
        <td></td>
    }
</tr>
<tr>
    <td>11:00</td>
    @for (var index = 0; index < 7; index++)
    {
        <td></td>
    }
</tr>
<tr>
    <td colspan="8" class="bg-success">茶歇</td>
</tr>
<tr>
    <td>14:00</td>
    @for (var index = 0; index < 7; index++)
    {
        <td></td>
    }
</tr>
<tr>
    <td>15:00</td>
    @for (var index = 0; index < 7; index++)
    {
        <td></td>
    }
</tr>
<tr>
    <td>16:00</td>
    @for (var index = 0; index < 7; index++)
    {
        <td></td>
    }
</tr>
<tr>
    <td colspan="8" style="background-color: #f8f9fa;">晚宴</td>
</tr>
