<div>
    @foreach (var crew in Crews)
    {
        <div class="crew d-flex">
            <div class="flex-fill @crew.Color">
                @crew.Name
            </div>
            <input type="text" readonly value="@crew.Value" />
            <div class="actions">
                <span @onclick="() => OnUpdateValue(crew, 1)">
                    <i class="fa-solid fa-plus"></i>
                </span>
                <span @onclick="() => OnUpdateValue(crew, -1)">
                    <i class="fa-solid fa-minus"></i>
                </span>
            </div>
        </div>
    }
</div>
