<div class="@ClassString">
    <a href="@Url">
        <div class="card">
            <div class="card-header">@Text</div>
            <div class="card-body">
                <ImageViewer Url="@ImageUrl" IsIntersectionObserver="true" IsAsync="true" />
            </div>
        </div>
    </a>
</div>
