<div class="d-flex align-items-center mb-3">
    @Localizer["CustomPopConfirmContentText"]
</div>

<div class="text-end">
    <button @onclick="OnClick" class="btn btn-primary">@Localizer["CustomPopConfirmContentButtonText"]</button>
</div>
