<div class="row g-3">
    <div class="col-12 col-sm-6">
        <Select TValue="string" Items="@Items3" OnSelectedItemChanged="@OnCascadeBindSelectClick" />
    </div>
    <div class="col-12 col-sm-6">
        <Select TValue="string" Items="@Items2" />
    </div>
</div>
