@using BootstrapBlazor.Server.Components.Samples.Table
@inject IStringLocalizer<Foo> LocalizerFoo
@inject IStringLocalizer<TablesEdit> Localizer

<div class="row form-inline g-3">
    <div class="col-12 col-sm-6">
        <BootstrapInput @bind-Value="Model.Name"></BootstrapInput>
    </div>
    <div class="col-12 col-sm-6">
        <MultiSelect @bind-Value="@Model.Hobby" Items="Hobbies"></MultiSelect>
    </div>
    <div class="col-12">
        <Textarea @bind-Value="Model.Address" rows="3"></Textarea>
    </div>
    <div class="col-12 col-sm-6">
        <Select @bind-Value="Model.Education"></Select>
    </div>
    <div class="col-12 col-sm-6">
        <Display Value="@EducationDesc" ShowLabel="true" DisplayText="@Localizer["TablesEditTemplateDisplayLabel"]"></Display>
    </div>
</div>
