<div class="row form-inline g-3">
    <div class="col-12 col-sm-6">
        <BootstrapInput @bind-Value="Value.Name" ShowLabel="true" DisplayText="姓名" />
    </div>
    <div class="col-12 col-sm-6">
        <BootstrapInput @bind-Value="Value.Count" ShowLabel="true" DisplayText="数量" />
    </div>
</div>

@code {
    /// <summary>
    ///
    /// </summary>
    [Parameter]
    [NotNull]
    public Foo? Value { get; set; }
}
