@inject IStringLocalizer<EventTable> Localizer

<div class="table-attr">
    <h4>@Localizer["Title"]</h4>

    <Table TItem="EventItem" Items="Items">
        <TableColumns>
            <TableColumn @bind-Field="@context.Name" />
            <TableColumn @bind-Field="@context.Description" TextWrap="true" />
            <TableColumn @bind-Field="@context.Type" />
        </TableColumns>
    </Table>
</div>

@code {
    [Parameter] public IEnumerable<EventItem>? Items { get; set; }
}
