<div class="d-none d-xl-flex flex-xl-fill justify-content-xl-end px-3">
    <Popover Content="@Content" IsHtml="true" Trigger="oninput" >
        <InputText @oninput="OnSearch" @bind-Value="Name"></InputText>
    </Popover>
</div>
