@inherits WebSiteModuleComponentBase
@attribute [JSModuleAutoLoader("Components/GlobalSearch.razor.js")]

<div id="@Id" class="bb-g-search">
    <i class="fa-solid fa-search"></i>
    <input type="text" readonly placeholder="search docs" />
    <div class="search-dialog shadow-lg">
    </div>
</div>
