@inject IOptions<WebsiteOptions> WebsiteOption
@inject IStringLocalizer<QQGroup> Localizer

<div>
    @Localizer["Group"]：BootstrapAdmin & Blazor
    <a class="mx-1" target="_blank" href="@WebsiteOption.Value.QQGroup1Link">
        <span class="text-success fa-brands fa-qq"></span>
        <span class="text-success"><b>795206915</b></span>
    </a>
    <a class="mx-1" target="_blank" href="@WebsiteOption.Value.QQGroup2Link">
        <span class="text-success fa-brands fa-qq"></span>
        <span class="text-success"><b>675147445</b></span>
    </a>
    @Localizer["Welcome"]
</div>
