@inject IOptions<WebsiteOptions> WebsiteOption
@inject IStringLocalizer<QQGroup> Localzier

<div>
    @Localzier["Group"]：BootstrapAdmin & Blazor
    <a class="mx-1" target="_blank" href="@WebsiteOption.Value.QQGroup1Link">
        <span class="text-success fa-brands fa-qq">
            <span class="ms-1"><b>795206915</b></span>
        </span>
    </a>
    <a class="mx-1" target="_blank" href="@WebsiteOption.Value.QQGroup2Link">
        <span class="text-success fa-brands fa-qq">
            <span class="ms-1"><b>675147445</b></span>
        </span>
    </a>
    @Localzier["Welcome"]
</div>
