@inherits ComponentBase

<div class="btn btn-circle btn-fade btn-theme-mode icon-theme d-flex d-lg-none">
    <img src="./images/theme-light.svg" class="icon-light" />
    <img src="./images/theme-night.svg" class="icon-dark" />
</div>
