@inherits WebSiteModuleComponentBase
@attribute [JSModuleAutoLoader("Components/Wwads.razor.js", AutoInvokeDispose = false)]

<div @attributes="AdditionalAttributes" id="@Id" class="@ClassString"></div>
