@using BootstrapBlazor.Components
@using System.Diagnostics.CodeAnalysis
@using ThingsGateway.Razor
@inherits BaseLayout
               <Layout SideWidth="0" IsPage="true" IsFullSide="true" IsFixedHeader="true"
                    ShowGotoTop="true" ShowCollapseBar="true" 
                 AllowDragTab=true  Menus="@MenuService.MenuItems"
                    UseTabSet="false" TabDefaultUrl="/">
                    <Side>

                </Side>
                <Main>
                    <Tab ClickTabToNavigation="true" ShowExtendButtons="false" ShowClose="true" AllowDrag=true  Menus="@MenuService.MenuItems"
                         DefaultUrl=@("/") Body=@(Body!) >
                    </Tab>

                </Main>
            </Layout>




@code{
    [Inject]
    [NotNull]
    private IMenuService? MenuService { get; set; }
}