@namespace BootstrapBlazor.Components
@inherits DisplayBase<string>

@if (IsInnerLabel)
{
    <div @attributes="@AdditionalAttributes" class="@ClassString">
        <span>@Text</span>
    </div>
}
else
{
    <label class="form-label">@DisplayText</label>
}
