@namespace BootstrapBlazor.Components
@inherits EditorBase

<div @attributes="@AdditionalAttributes" class="editor" @ref="EditorElement">
    <div class="editor-body form-control" placeholder="@Placeholder"></div>
</div>
