@page "/bugs"
@using System.Drawing;
@using System.Drawing.Imaging;
@using System.IO;
<h3>来自老刘的贴心bug复现</h3>

<h4>表单提交按钮，提交时禁用了，但是不转圈</h4>
<ValidateForm Model="@Model" >
    <BootstrapInput @bind-Value="Model.field"/>
    <Button ButtonType="ButtonType.Submit" Text="Login" style="width:100%;margin-top:20px;" IsAsync="true" />
</ValidateForm>


@code{

    B Model = new B();

    class A
    {
        public int field { get; set; }
    }
    class B : A
    {
        public new long field { get; set; }
    }
}
