@page "/editdialogs"

<h3>EditDialog 编辑弹窗</h3>

<h4>通过绑定数据模型自动呈现编辑弹窗</h4>

<p><code>EditDialog</code> 组件是 <code>Dialog</code> 组件的扩展，适用于数据弹出窗编辑。</p>

<Tips>
	<p>通过调用注入服务 <code>DialogService</code> 的 <code>ShowEditDialog</code> 方法直接弹出编辑对话框，大大减少代码量。<code>EditDialogOption</code> 配置类继承 <code>DialogOption</code>，更多参数设置请点击 <a href="dialogs" target="_blank">[传送门]</a></p>
</Tips>

<Block Title="基础用法" Introduction="通过绑定 <code>TModel</code> 数据模型，自动生成模型各个字段的可编辑表单">
	<Button Text="编辑弹窗(左对齐)" OnClickWithoutRender="@ShowDialog" />
	<Button Text="编辑弹窗(右对齐)" OnClickWithoutRender="@ShowAlignDialog" />
	<BlockLogger @ref="Trace" class="mt-3" />
</Block>

<Block Title="设置绑定模型部分属性不显示" Introduction="通过设置 <code>IEditorItem</code> 实例的 <code>Editable=false</code>, 实现编辑弹窗不显示此属性">
	<Button Text="弹窗" OnClickWithoutRender="@ShowEditDialog" />
</Block>

<AttributeTable Items="@GetAttributes()" Title="EditDialogOption 属性" />
