@page "/groupboxs"

<h3>GroupBox 集合组件</h3>

<h4>模拟 WinForm 的 GroupBox 组件</h4>

<Block Title="基础用法" Introduction="将自己的组件放到 <code>GroupBox</code> 内部即可">
    <GroupBox Title="表单示例">
        <p>我是 <code>GroupBox</code> 示例</p>
        <p>更多示例请参考 <code>EditorForms</code> 表单示例 <a href="editorforms" target="_blank">[传送门]</a></p>
    </GroupBox>
</Block>

<AttributeTable Items="@GetAttributes()" />
