@page "/handwrittenPage"
<h3>@Title</h3>

 
	<p>@BaseUsageText></p>

	<p><b>@IntroText1</b></p>

    <Handwritten HandwrittenBase64="((e) => { DrawBase64=e; })" />
 
	<textarea type="text" class="form-control" style="min-width: 100px;" rows="5"
			  @bind="DrawBase64"
			  placeholder="Base64" />

  	<br />

	<p><b>@IntroText2</b></p>

 
<AttributeTable Items="@GetAttributes()" /> 
