@page "/prints"

<h3>Print 打印组件</h3>

<h4>用于打印文档或者局部视图</h4>

<Block Title="普通用法" Introduction="通过点击打印按钮将页面进行打印">
    <p>点击下方打印按钮后，弹出新页面进行打印预览，确认无误后点击打印预览页面中的打印按钮进行打印机选择进行打印操作</p>
    <PrintButton Icon="fa fa-print" Text="打印" PreviewUrl="/printview" />
</Block>
