@page "/qrcodes"

<h3>QRCode 二维码</h3>

<h4>用于二维码生成</h4>

<Block Title="基本用法" Introduction="点击生成按钮，生成特定的 <code>QRCode</code>">
    <QRCode OnGenerated="@OnGenerated"></QRCode>
    <Logger @ref="Trace" class="mt-3" />
</Block>

<AttributeTable Items="@GetAttributes()" />
