@page "/timers"

<h3>Timer 计时器</h3>

<h4>用于时间倒计时</h4>

<Block Title="基本用法" Introduction="通过设置 <code>Value</code> 属性设定倒计时时间">
    <Timer OnTimeout="@OnTimeout" OnCancel="OnCancel" />
    <Logger @ref="Trace" class="mt-3" />
</Block>

<Block Title="颜色" Introduction="通过设置 <code>Color</code> 属性设定圆形进度条颜色" >
    <Timer Color="Color.Warning" />
</Block>

<AttributeTable Items="@GetAttributes()" />
