@using System.ComponentModel;
@inject IStringLocalizer<PdfReaderCompatibilityMode> Localizer

<Tips>
    <div>@((MarkupString)Localizer["PdfReaderCompatibilityModeTips"].Value)</div>
</Tips>

<h6>CompatibilityMode</h6>
<PdfReader FileName=@FileName CompatibilityMode Height="300px" />

<h6>CompatibilityNoneES5</h6>
<PdfReader FileName=@FileName CompatibilityNoneES5 Height="300px" />

@code {
    [DisplayName("the file in the wwwroot relative path or url")]
    private string FileName { get; set; } = "/samples/sample.pdf";
}
