<div>
    <div class="row g-3">
        <div class="col-12">
            <BootstrapInputGroup>
                <BootstrapInput @bind-Value="@FilenameStream" />
                <Button Color="Color.Primary" OnClick="Apply">Go!</Button>
            </BootstrapInputGroup>
        </div>
    </div>
    <PdfReader @ref="PdfReader" FileName="@FilenameStream" StreamMode="true" Height="500px" />
</div>

@code {
    [NotNull]
    PdfReader? PdfReader { get; set; }

    private string FilenameStream { get; set; } = "https://blazor.app1.es/_content/DemoShared/samples/sample2.pdf";

    private async Task Apply()
    {
        await PdfReader!.Refresh();
    }
}
