@page "/signaturepadResponsive"
@inject IStringLocalizer<SignaturePads> Localizer
@namespace BootstrapBlazor.Shared.Samples

<h3>@Localizer["ResponsiveInterfaceText"]</h3>

<DemoBlock Title="@Localizer["ResponsiveInterfaceText"]"
           Introduction="@Localizer["TipsResponsive"]"
           Name="Base"
           Demo="typeof(Demos.SignaturePads.SignaturePadBase)">
</DemoBlock>

<a class="btn btn-primary mt-3" type="button" href="signaturepads">
    @Localizer["BackText"]
</a>
