@inherits WebSiteModuleComponentBase
@attribute [JSModuleAutoLoader("Components/AIChat.razor.js")]

<div id="@Id" class="chat">
    <PulseButton class="btn-fade btn-chat" Color="Color.None" ImageUrl="" TooltipText="@Title" TooltipTrigger="hover" TooltipPlacement="Placement.Left" />
    <div class="chat-menu">
        <div class="chat-header">
            <div class="flex-fill">@HeaderText</div>
            <button class="btn-close btn-close-white" type="button" aria-label="Close"></button>
        </div>
        <div class="chat-body">

        </div>
        <div class="chat-footer">
        </div>
    </div>
</div>
