<div class="calendar-day" @onclick="OnClickCell">
    <div>@Value.CellValue.Day</div>
    @if (Value.CellValue.Month == Value.CalendarValue.Month)
    {
        <div class="calendar-body">
            @foreach (var tag in Crews)
            {
                <div class="@tag.Color">@tag.Name @tag.Value</div>
            }
        </div>
    }
</div>
