<div class="@ClassString">
    <h3>
        <span>@Text</span>
        <RenderTemplate>
            <Badge IsPill="true" Color="Color.Success">@CardCount</Badge>
        </RenderTemplate>
    </h3>

    @if (!string.IsNullOrEmpty(Desc))
    {
        <h4>@Desc</h4>
    }

    <div class="coms-demo">
        <div class="row g-3">
            <CascadingValue Value="this" IsFixed="true">
                @ChildContent
            </CascadingValue>
        </div>
    </div>
</div>
