<div class="row form-inline g-3">
    <div class="col-12 col-sm-6">
        <BootstrapInput @bind-Value="Value.Name" ShowLabel="true" DisplayText="姓名" />
    </div>
    <div class="col-12 col-sm-6">
        <DateTimeRange @bind-Value="Value.SearchDate" ShowLabel="true" DisplayText="时间" />
    </div>
    <div class="col-12 col-sm-6">
        <Select @bind-Value="Value.Education" ShowLabel="true" DisplayText="学历" PlaceHolder="全部" />
    </div>
    <div class="col-12 col-sm-6">
        <Select @bind-Value="Value.Count" ShowLabel="true" DisplayText="数量" Items="CountItems" />
    </div>
</div>
