<ul class="ul-demo">
    <li>更改数值后，点击 <code>确认</code> 返回主页面并 <b>更新</b> 数值</li>
    <li>点击其余按钮时关闭弹窗 <b>不更新</b> 数值</li>
</ul>

<div style="width: 220px;">
    <BootstrapInputNumber ShowButton="true" Step="1" Min="1" Max="10" @bind-Value="@Value"></BootstrapInputNumber>
</div>
