@inject IOptions<WebsiteOptions> Options

<p><b>B 站相关视频链接</b></p>

@if (VideoUrl.Any())
{
    foreach (var url in VideoUrl)
    {
        <div class="mb-3">
            <a class="fa fa-video-camera" href="@url" target="_blank"><span class="ms-2">[传送门]</span></a>
        </div>
    }
}
else
{
    <div class="mb-3">暂无</div>
}

@code {
    [NotNull]
    private List<string> VideoUrl { get; } = new List<string>();

    [Parameter]
    public string? Name { get; set; }

    /// <summary>
    ///
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (!string.IsNullOrEmpty(Name) && Options.Value.Videos.TryGetValue(Name, out var url))
        {
            VideoUrl.AddRange(url.Split(';').Select(a => $"{Options.Value.VideoUrl}{a}"));
        }
    }
}
