@inject IStringLocalizer<Logouts> Localizer

<Logout ImageUrl="_content/BootstrapBlazor.Shared/images/Argo.png" DisplayName="Administrators" UserName="Admin">
    <i class="fa-fw fa-solid fa-user"></i>
    <span>@Localizer["LogoutsChildContentCustomDisplay"]</span>
</Logout>
<div style="height: 80px;"></div>
