@inject IStringLocalizer<Logouts> Localizer

<Logout ImageUrl="./images/Argo.png" DisplayName="Administrators" UserName="Admin" class="bg-primary">
    <LinkTemplate>
        <a href="#">
            <i class="fa-solid fa-user"></i><span>@Localizer["LogoutsLinkTemplatePersonalCenter"]</span>
        </a>
        <a href="#">
            <i class="fa-solid fa-gear"></i><span>@Localizer["LogoutsLinkTemplateSetup"]</span>
        </a>
        <LogoutLink Url="/logouts" />
    </LinkTemplate>
</Logout>
<div style="height: 220px;"></div>
