@using BootstrapBlazor.Shared.Samples
@inject IStringLocalizer<Logouts> Localizer

<Logout ImageUrl="_content/BootstrapBlazor.Shared/images/Argo.png" DisplayName="Administrators" UserName="Admin" class="bg-warning">
    <HeaderTemplate>
        <div class="d-flex flex-fill align-items-center">
            <img alt="avatar" src="_content/BootstrapBlazor.Shared/images/Argo-C.png" style="border-radius: 50%;">
            <div class="flex-fill">
                <div class="logout-dn">@Localizer["LogoutsHeaderTemplateUser1"]</div>
                <div class="logout-un">@Localizer["LogoutsHeaderTemplateUser2"]</div>
            </div>
        </div>
    </HeaderTemplate>
</Logout>
<div style="height: 80px;"></div>
