@inherits ComponentBase
@namespace BootstrapBlazor.Components

@RenderBody()

<EyeDropper></EyeDropper>
<FullScreen></FullScreen>
<Clipboard></Clipboard>
<Title></Title>

<Message @ref="MessageContainer"></Message>
<ToastContainer @ref="ToastContainer"></ToastContainer>
<DrawerContainer></DrawerContainer>

<ResizeNotification></ResizeNotification>
<BrowserFinger></BrowserFinger>
<ConnectionHub></ConnectionHub>
<Mask></Mask>

@code {
    RenderFragment RenderChildContent =>
    @<CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>;
}
