@namespace BootstrapBlazor.Components
@typeparam TItem
@inherits ComponentBase

<div class="tree-node-toolbar" @onclick:preventDefault @onclick:stopPropagation>
    <PopConfirmButton Icon="fa-solid fa-gear" Title="@Title" OnConfirm="OnConfirm">
        <BodyTemplate>
            @if (BodyTemplate != null)
            {
                @BodyTemplate(Item.Value)
            }
            else
            {
                <div class="tree-view-edit-form">
                    <span>@Text</span>
                    <BootstrapInput @bind-Value="@_text" SkipValidate="true" ShowLabel="false"></BootstrapInput>
                </div>
            }
        </BodyTemplate>
    </PopConfirmButton>
</div>
