@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

<div @attributes="@AdditionalAttributes" id="@Id" style="@StyleString" data-bb-support-touch="@IsSupportTouchString"></div>
