@namespace BootstrapBlazor.Components
@inherits CollapseBase

<div @attributes="@AdditionalAttributes" class="@ClassString" @ref="CollapseElement">
    <CascadingValue Value="this" IsFixed="true">
        <CollapseContent OnClick="@OnItemClick" />
        @CollapseItems
    </CascadingValue>
</div>
