@namespace BootstrapBlazor.Components
@inherits ChartBase

<div @attributes="@AdditionalAttributes" @ref="Chart" class="@ClassName" style="@StyleString">
    <div class="chart-loading">
        <i class="fa fa-spin fa-spinner"></i>
        <span class="d-none d-sm-inline-block ml-1">正在加载中 ...</span>
    </div>
    <canvas></canvas>
</div>
