<div class="d-flex justify-content-between align-items-center">
    <Avatar IsCircle="true" GetUrlAsync="@GetUrlAsync" />
</div>

@code {
    private static async Task<string> GetUrlAsync()
    {
        // 模拟异步获取图像地址
        await Task.Delay(500);
        return "./images/Argo-C.png";
    }
}
