@inject IStringLocalizer<AvatarNormal> Localizer

<div class="d-flex flex-column">
    <div class="text-center mb-2">Circle</div>
    <div class="d-flex justify-content-between align-items-center">
        <Avatar Url="./images/Argo-C.png" IsCircle="true" Size="Size.ExtraExtraLarge" />
        <Avatar Url="./images/Argo-C.png" IsCircle="true" Size="Size.ExtraLarge" />
        <Avatar Url="./images/Argo-C.png" IsCircle="true" Size="Size.Large" />
        <Avatar Url="./images/Argo-C.png" IsCircle="true" />
        <Avatar Url="./images/Argo-C.png" IsCircle="true" Size="Size.Small" />
        <Avatar Url="./images/Argo-C.png" IsCircle="true" Size="Size.ExtraSmall" />
    </div>
</div>
<Divider Text="@Localizer["BasicUsageDivider"]" />
<div class="d-flex flex-column">
    <div class="text-center my-2">Square</div>
    <div class="d-flex justify-content-between align-items-center">
        <Avatar Url="./images/Argo.png" Size="Size.ExtraExtraLarge" />
        <Avatar Url="./images/Argo.png" Size="Size.ExtraLarge" />
        <Avatar Url="./images/Argo.png" Size="Size.Large" />
        <Avatar Url="./images/Argo.png" />
        <Avatar Url="./images/Argo.png" Size="Size.Small" />
        <Avatar Url="./images/Argo.png" Size="Size.ExtraSmall" />
    </div>
</div>
