<div class="d-flex justify-content-between align-items-center">
    <Avatar IsCircle="true" IsIcon="true" Icon="fa-solid fa-user" />
    <Avatar IsCircle="true" Url="./images/Argo-C.png" />
    <Avatar IsCircle="true" IsText="true" Text="User" />
</div>
