@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor.CodeEditor/Components/CodeEditor/CodeEditor.razor.js", JSObjectReference = true)]

<div id="@Id" class="code-edtior">
    <Spinner />
    <div class="code-editor-body" @attributes="@AdditionalAttributes"></div>
</div>
