@page "/synthesizers"
@inherits BootstrapComponentBase
@namespace BootstrapBlazor.Shared.Samples
@inject IStringLocalizer<Synthesizers> Localizer

<h3>@Localizer["SynthesizersTitle"]</h3>
<h4>@Localizer["SynthesizersSubTitle"]</h4>

<DemoBlock Title="@Localizer["SynthesizerNormalTitle"]"
           Introduction="@Localizer["SynthesizerNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Speechs.Synthesizers.SynthesizerNormal)">
</DemoBlock>
