@page "/pintereso"

<div class="container-fluid">
    <div class="row">
        <div class="card-columns" @ref="@Element">
            @foreach (var item in IamgeList)
            {
                <div class="card card-pin">
                    <ImageViewer class="card-img" Url="@item" PreviewList="@(new List<string>() { item })" alt="Card image" />
                </div>
            }
        </div>
    </div>
</div>
