@namespace BootstrapBlazor.Components
@inherits AlertBase

<DynamicElement TagName="div" class="@ClassName" role="alert" @attributes="@AdditionalAttributes">
    @ChildContent
    @if(ShowDismiss) {
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="@OnClick">
            <i class="fa fa-times"></i>
        </button>
    }
</DynamicElement>
