@namespace BootstrapBlazor.Components
@inherits AlertBase

<div @attributes="@AdditionalAttributes" id="@Id" role="alert" class="@ClassName">
    @ChildContent
    @if(ShowDismiss) {
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="@OnDismiss">
            <i class="fa fa-times"></i>
        </button>
    }
</div>
